[2017-05-09 21:32] sharkdp opened #1 "Catch all possible exceptions"
- Bad permissions...

[2017-05-09 21:32] sharkdp opened #2 "Do not search hidden folders / files"

[2017-05-09 21:35] sharkdp opened #3 "Case-insensitive by default"

[2017-05-09 21:41] #3 closed

[2017-05-09 21:45] sharkdp opened #4 "Do not show files in .gitignore"
- Parse `.gitignore` files in directories and ignore respective files
- Also, ignore `.git` folders (and similar for other VCS)

[2017-05-09 21:50] sharkdp opened #5 "Optional second argument: starting directory"

[2017-05-09 21:57] sharkdp opened #6 "Make it fast"
[code]

[2017-05-09 22:04] sharkdp commented on #6
Could be related to #2

[2017-05-12 10:03] sharkdp opened #7 "Smart case"
* `fd pat` -> case-insensitive search for *pat* (or *PAT*, or *Pat*, ...)
* `fd Pat` -> case-sensitive search for *Pat*

[2017-05-12 10:04] sharkdp commented on #2
Closed via 12bfee0bec5024b0633755d9dd18d9396cbe9783

[2017-05-12 10:04] #2 closed

[2017-05-12 10:05] sharkdp opened #8 "Add colored output"

[2017-05-12 10:06] sharkdp opened #9 "add case-sensitive option"

[2017-05-12 10:09] #9 closed

[2017-05-12 10:39] #1 closed

[2017-05-12 10:44] sharkdp opened #10 "add option to show absolute paths"

[2017-05-12 11:02] #8 closed

[2017-05-12 11:05] sharkdp commented on #6
The rust version is incredibly fast... :smile:

[2017-05-12 11:05] #6 closed

[2017-05-12 11:32] #7 closed

[2017-05-12 11:36] sharkdp opened #11 "Detect non-interactive terminal"
In order to pipe the output to other programs (or write to files)

[2017-05-12 11:50] sharkdp opened #12 "option so search hidden folders"

[2017-05-12 12:12] sharkdp opened #13 "configurable search depth"

[2017-05-12 12:23] sharkdp opened #14 "only search filename by default?"

[2017-05-12 12:23] sharkdp opened #15 "Ignore .git, .svg etc."

[2017-05-12 12:24] sharkdp opened #16 "add option to follow symlinks"

[2017-05-12 13:44] sharkdp opened #17 "add option to switch off colors"

[2017-05-12 13:44] #16 closed

[2017-05-12 13:44] #17 closed

[2017-05-12 20:29] #12 closed

[2017-05-12 20:44] #13 closed

[2017-05-12 20:45] sharkdp commented on #14
this is now configurable via `--filename`

[2017-05-12 20:45] #14 closed

[2017-05-12 20:50] #11 closed

[2017-05-12 20:51] #15 closed

[2017-05-12 20:51] sharkdp commented on #15
see #4

[2017-05-13 09:28] sharkdp opened #18 "Show/search hidden files by default (or not)?"
Possible options are [updated on 2017-06-05]:

- [x] Add a convenient short option for `--hidden` (`-h` is for `--help` ...)

=> Done already, `-H` can be used (alongside `--hidden`) for searching hidden directories.

- [x] Add a config file (`~/.config/fdrc`) where defaults (such as `search_hidden=true`) can be set

=> As discussed below, this will not be implemented for now. Aliases (such as `al

[2017-05-13 20:55] chrivers commented on #18
From my point of view, there are fundamentally 2 different routes to take here.

Either "fd" is targeted as a system tool (like "find"), or it is targeted as an end-user utility. Think of the "plumbing/porcelain" split i git.

User tools can have config files, but system tools absolutely cannot. If this is going to be used in scripts, in automation, etc, the behavior has to be completely determine

[2017-05-14 13:30] sharkdp commented on #18
Thank you for the feedback!

I definitely see *fd* in the end-user utility corner. It is meant as a "neater alternative to interactive uses of find", as you wrote below.

Yes, good points. Maybe, even if *fd* is not primarily meant as a system tool, we should try to avoid a config file at first. Aliases are not that bad and it's easy to reset them (`\fd`). They also won't affect shell scripts, as

[2017-05-14 13:35] sharkdp commented on #4
See: https://github.com/nathankleyn/gitignore.rs

[2017-05-14 15:41] sharkdp opened #19 "Colorize each component of a path"

[2017-05-14 16:31] #19 closed

[2017-05-14 16:31] sharkdp opened #20 "Use ~/.dir_colors to colorize path components"

[2017-05-14 17:49] #20 closed

[2017-05-15 07:05] sharkdp opened #21 "Do not parse dir_colors for non-interactive terminal"

[2017-05-15 07:05] sharkdp opened #22 "Search filename only by default?"

[2017-05-15 19:41] #21 closed

[2017-05-15 19:44] #22 closed

[2017-05-15 20:38] #4 closed

[2017-05-18 13:04] chrivers commented on #18
I've thought a bit about it, and I mostly agree. I find myself needing to be sure I see 100% of the available files quite often, so I'll keep using `find` for that purpose.

I think `fd` could be a nice complement to `rg`, in that it has some reasonable opinions that make it easy to use out of the box. How about, in interactive mode only, a status line? Like "$x files found in $y dirs, $z ignored"

[2017-05-19 17:40] sharkdp commented on #18
That's a very neat idea! I'll look into this when I'm back home. Thanks!

Am 18.05.2017 15:05 schrieb "Christian Iversen" <notifications@github.com>:

[2017-06-05 14:25] #5 closed

[2017-06-05 19:18] #10 closed

[2017-06-06 07:13] devogon opened #23 "compile fails"
this needs a `'static` lifetime or the `static_in_const` feature, see #35897

changed ROOT_DIR assignment and compiles just fine.

69c69
< static ROOT_DIR : &str = "/";
---

[2017-06-06 07:59] Armavica opened #24 "Panic on broken pipe"
`fd` does not exit cleanly when the stdout pipe is broken:
[code]

[2017-06-06 16:11] erf opened #25 "Support .ignore files using same format as rg and ag"
Suggestion: Support .ignore files using same format as Ripgrep and The Silver Searcher ( rg and ag ).

[2017-06-06 16:27] John-Steidley commented on #23
I had the same error before I ran `rustup update`

[2017-06-06 16:41] erf opened #26 "Add a homebrew formula for fd"
Add a [homebrew](https://brew.sh) formula for `fd`.

[2017-06-06 17:14] euphoria commented on #25
Given that this uses the same `ignore` crate as `ripgrep` (https://crates.io/crates/ignore) I would expect this to already be the case.  I haven't tried it yet, but is the functionality different for you in some way that you could clarify?

[2017-06-06 17:35] erf commented on #25
I did not know that. Tested ok!

[2017-06-06 17:35] #25 closed

[2017-06-06 17:45] erf opened #27 "Mention in doc you need rust version 1.17.0"
Mention in doc you need rust version 1.17.0. I got compile errors using 1.16.0.

[2017-06-06 18:32] sharkdp commented on #27
Thank you for the hint. I could also try to backport it.

[2017-06-06 18:32] sharkdp commented on #24
Oh, good catch. Thank you for reporting this. I'll look into it.

[2017-06-06 18:36] #23 closed

[2017-06-06 18:36] sharkdp commented on #23
Fixed, thank you.

[2017-06-06 18:37] sharkdp commented on #26
Thank you for the suggestion.

I don't have access to a MacOS system, so it's hard for me to test this. Also, I don't know how homebrew formulas work.

[2017-06-06 18:41] erf commented on #26
I have a macOS, but i have not created a brew formula before and not sure how much time i can spend on this issue right now. I might be able to look into it later, or maybe someone else will have a go at it if you leave it open?

[2017-06-06 18:44] sharkdp commented on #26
Sure, I will leave it open. Thank you.

[2017-06-06 18:48] sharkdp commented on #27
- [x] "Backported" to 1.16 via 8c6a9c8e321685135176b3a540c355c24244541f
- [x] Added note to README about requirements (`>=1.16.0`).

[2017-06-06 18:48] #27 closed

[2017-06-06 21:53] gsquire commented on #26
If you are worried about cargo installs falling out of date, you can use [this subcommand](https://github.com/nabijaczleweli/cargo-update) to check.

[2017-06-07 03:05] amosbird opened #28 "add breadth first search option"
Hi, thanks for this project! Adding bfs search would benefit interactively directory navigating.

[2017-06-07 04:55] sebasv opened #29 "Add windows compatibility"
This code is cross-platform save for the "executable file" check, which is only relevant on unix systems, and is done for the sole purpose of color-coding output lines.

I managed to make your code run on windows by adding conditional compilation operators to
`use std::os::unix::fs::PermissionsExt;` and to redefine the `is_executable` function on non-Linux systems.

[2017-06-07 06:42] sharkdp commented on #29
Thank you for trying this. I'll try to implement this as soon as I get access to a Windows system.

[2017-06-07 08:25] sebasv commented on #29
I'd be happy to create a pull request!

[2017-06-07 10:10] gitpy opened #30 "Slow inside VirtualBox shared folder"
This might be a rare use case. But fd is 5x slower then find on a VirtualBox shared folder for me.
For the same data set fd is faster native. Also inside Virtualbox normal (non-shared) folder fd is faster.

[2017-06-07 10:48] sharkdp commented on #29
That would be great, thank you.

[2017-06-07 12:07] lilianmoraru opened #31 "The benchmarks are misleading"
I think that the README should specifically mention that the regex search is faster(that's because the regex is slow in `find`).
The actual search is slower(it seems to imply that the find in general is faster).
Here is a more realistic usage of `find`, on an SSD(all runs are on warm cache):
[code]

And because `fd` uses patterns, it would look like this:
[code]

Weird, I just tested(while writing

[2017-06-07 12:12] BurntSushi commented on #31
Unfortunately, neither your comment nor the README provide a way to easily run and confirm the benchmark for yourself, so it's pretty hard to make any kind of progress.

I'd encourage you to experiment with disabling `gitignore` support, which I believe is the `-I` flag.

[2017-06-07 12:12] lilianmoraru commented on #31
Writing to `stdout` seems slow:
[code]
--
[code]

[2017-06-07 12:14] BurntSushi commented on #31
Also, the README's benchmark is clearly running with different flags than what you've provided. :-)

[2017-06-07 12:15] lilianmoraru commented on #31
I agree but it implies that the search in general is faster(also mentions that it is fair).
I think the arguments are valid for regex search only, which would be ok if mentioned.

[2017-06-07 12:21] BurntSushi commented on #31
@lilianmoraru Did you experiment with the `-I` flag? What did you discover?

[2017-06-07 12:25] lilianmoraru commented on #31
No difference(This source code does not have .gitignore):
[code]

[2017-06-07 12:29] BurntSushi commented on #31
I think @lilianmoraru and @sharkdp need to focus on finding a common set of files that they can each benchmark and verify. There are too many variables at play to immediately blame the regex engine. @lilianmoraru Even in your own benchmark `find` with `-iregex` is faster than `fd`, so clearly, there is more to the story.

[2017-06-07 12:29] lilianmoraru commented on #31
If I use "-n" it has almost the same performance characteristics as `find -iregex`.

[2017-06-07 20:01] sharkdp commented on #31
@lilianmoraru

I think you are right, it seems like the `-iregex` search in `find` is at least part of the reason why find was slower in this particular benchmark that I did in my home folder.

I think this will really depend on the specific situtation, as @BurntSushi mentioned:

Absolutely. I honestly did not expect this to become this popular that fast, so the current benchmark was really just a

[2017-06-07 20:28] sharkdp commented on #28
Hi, thank you for the feedback!

Could you elaborate on what you mean by "interactively navigating directories" and how a breadth-first traversal would help?

[2017-06-07 20:30] lilianmoraru commented on #31
Btw, if you want to bench the Rust code(and use the _nightly_ `bench` - for example, [`rayon`](https://github.com/nikomatsakis/rayon/tree/master/rayon-demo) puts the benches in a separate workspace project), you also have this option: https://github.com/BurntSushi/cargo-benchcmp.

Side-note:
I like how you can do this:
For a file `StuffAndStuff.txt`, you can just write `fd and` and it will find it

[2017-06-07 20:36] BurntSushi commented on #31
Also, consider adding a larger repository to your benchmark. :-) A couple dozen milliseconds is frighteningly fast---probably in "process overhead" territory. (Of course, that is also important to benchmark!)

[2017-06-07 20:38] sharkdp commented on #30
I'm not that familiar with VirtualBox. Do you know what makes these shared folders different? Do you run `fd` from within the VirtualBox?

[2017-06-07 20:45] lilianmoraru commented on #31
It seems that it is enough to make the regex a bit more complicated and `find` turns slower:
[code]

[2017-06-07 20:51] sharkdp commented on #31
Yes, thanks. It looks like those results are similar for larger folders, though (`fd` being 30%-50% slower than `find -iname`) -- for this particular search pattern.

[2017-06-07 20:53] sharkdp opened #32 "Try ignore::WalkParallel"
Try to replace `Walk` by [`WalkParallel`](https://docs.rs/ignore/0.2.0/ignore/struct.WalkParallel.html) and investigate potential performance benefits / usability downsides (unsorted output).

(via @BurntSushi on reddit)

[2017-06-07 20:58] lilianmoraru commented on #31
@sharkdp Well, I came to the conclusion that it actually performs pretty darn well.
If you disable coloring + `.gitignore` and run a very basic search(fd vs find -name '*.cpp'), `fd` is a few tens of milliseconds slower but in the rest of cases, it is faster(again, without coloring, which would be the fair way to compare).
So, it is fast, but not with coloring and for a very basic search where you

[2017-06-07 21:00] sharkdp opened #33 "Consider making the CLI arguments consistent with ripgrep"
For example: *fd*'s `-I/--no-ignore` vs *ripgrep*'s `-u/--unrestricted`.

(via DebuggingPanda on reddit)

[2017-06-07 21:06] sharkdp opened #34 "Properly handle invalid UTF-8 in filenames"
In particular, `OsStr` to `String` conversions may fail.

Quote by @BurntSushi on reddit:

[2017-06-07 21:21] sharkdp commented on #29
Apart from the current compilation problems, colored output does not work on Windows (no support for ANSI sequences). We could consider using [termcolor](https://docs.rs/termcolor/0.3.2/termcolor/index.html).

[2017-06-07 21:32] sebasv commented on #29
#35
Powershell does work with colored output. To be honest I haven't touched cmd since the inception of Powershell, but the termcolor crate looks like a nice feature for the hardcore cmd users!

[2017-06-07 21:34] sharkdp commented on #29
Oh, I didn't know that, that's cool! I just quickly tried `cmd` today.. thanks!

[2017-06-07 21:58] #24 closed

[2017-06-07 21:58] sharkdp commented on #24
Should be fixed on master.

[2017-06-08 02:11] amosbird commented on #28
here is an example with `fzf`  https://asciinema.org/a/3q81ow5y0lis5t11fyjir42o3

[2017-06-08 07:38] gitpy commented on #30
I forgot to mention that the host is a windows machine. Yes I ran `fd` inside VirtualBox but only inside shared folders the performance drops. They are pseudo-network redirectors (Windows Technology). My guess is, the way they get cached by the OS slows them down. Do you use a different access pattern then find?

[2017-06-08 10:50] BurntSushi commented on #28
@amosbird Why do you need breadth first search for that? Seems like a max depth option would do just fine?

[2017-06-08 12:35] amosbird commented on #28
@BurntSushi bfs will make the directory output sorted more naturally, with parent directories at the top of the list.

[2017-06-08 19:57] sharkdp commented on #30
I'm not sure. How did you perform these benchmarks? In particular, if there is any kind of caching going on, did you run an initial "warm-up" run?

[2017-06-09 10:20] sharkdp commented on #29
Closed via #35

[2017-06-09 10:20] #29 closed

[2017-06-09 11:31] gitpy commented on #30
I ran the tests from the README with a warm-up and multiple runs.

I'm also testing on a bigger data set now, where the slowdown is only 2x. (8 seconds to 4 seconds)

When I find time I will test the `walkdir` crate itself to see if the behavior persists.

[2017-06-09 12:02] sharkdp commented on #30
Ok, thank you

[2017-06-09 12:25] douglascamata commented on #26
PR to add the homebrew formula open.

[2017-06-09 12:43] sharkdp commented on #26
Thank you very much! I've just released v1.1.0, in case you still want to include this.

[2017-06-09 13:07] sharkdp commented on #31
The `-iregex` flag is now mentioned in the README. I'm going to close this and open a new ticket for reproducible benchmarks.

[2017-06-09 13:07] #31 closed

[2017-06-09 13:10] sharkdp opened #36 "Reproducible benchmarks"
For example:
- Generate a lot of dummy files / directories in a controlled way by a shell script and run specific benchmarks within this test folder.
- Clone a certain (big) repository and run benchmarks within this repository (this is not 100% reproducible).

[2017-06-09 13:19] suy opened #37 "Bug parsing .gitignore"
Hi! I'm not entirely sure, but I think I've experienced a bug parsing a git ignore file. I did (with 1.1):

[code]

The .gitignore file of that repository may be a bit complex since, if I understand it properly, it uses a glob to add some files that later on are removed with a negative glob. I'm not entirely sure of the rules for it, but to me that is a bug in `fd`, since the files shown with `--n

[2017-06-09 13:27] BurntSushi commented on #37
Your `.gitignore` contains the rule `examples/*/*/*`, which in turn causes any and all *directories* like `examples/widgets/tools/regularexpression` to be ignored. Namely, they are never descended into.

[2017-06-09 13:36] sharkdp commented on #37
Yes, there is also no `!` pattern that overwrites this, as far as I can see. Those files (like `widgets/tools/regularexpression/regularexpressiondialog.cpp`) are still there because they have been `git add`-ed explicitly, but the `.gitignore` pattern matches. If you add a file like `widgets/tools/regularexpression/regularexpressiondialog2.cpp`, it is captured by the `.gitignore` file:
[code]

[2017-06-09 13:39] suy commented on #37
I see, I was testing this now, and it's true, that gitignore rule is not appropiate. I'll see if I can fix the rule.

Thank you (specially for the mindblowingly fast response), and sorry for the trouble.

[2017-06-09 13:39] #37 closed

[2017-06-09 15:49] douglascamata commented on #26
Updated the version there and fixed some issues commented by maintainers. Should be merged soon.

[2017-06-10 05:30] jrobeson commented on #36
As per https://github.com/sharkdp/fd/issues/30 you might also want to bench against network  filesystems like NFS and SMB. And also against sshfs and other FUSE filesystems.

[2017-06-10 16:33] sharkdp commented on #33
Let's consider all of *fd*'s current command-line options:
* [x] `-a`/`--absolute-path` => not related to ripgrep
* [ ] `-s`, `--sensitive` => ripgrep uses `-s`, `--case-sensitive` => change to ripgreps format
* [x] `-f`, `--follow` => ripgrep also uses `--follow`, but uses `-L` for the short flag (like `find`). I find this rather unintuitive... => stay with current format for now
* [x] `-p`, `--f

[2017-06-11 13:38] #34 closed

[2017-06-11 18:12] sharkdp opened #39 "Throw an error if the base directory does not exist"
[code]
should throw an error. Currently, it silently falls back to $CWD

[2017-06-11 18:13] sharkdp opened #40 "Show absolute paths by default if the base-path is absolute"

[2017-06-11 18:41] #39 closed

[2017-06-11 18:55] #40 closed

[2017-06-11 19:04] sharkdp commented on #32
Just a quick idea for 'solving' the problem with the unsorted output:

* Start traversing the directory in parallel
* Add files that match the pattern to a shared queue (do not print them to the console, yet)
* If the search is finished after a really short time (e.g. 100 ms), sort the entries in the queue and print them
* Otherwise, start flushing the queue to the console => output will be unsort

[2017-06-12 00:13] dead10ck opened #42 "Upload to crates.io"
Title is self-explanatory.

[2017-06-12 17:26] EricCrosson opened #43 "Compile fails"
On ubuntu 16.04 `Linux pollux 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

## What I did
Attempted to install
[code]

## What I expected to happen
That fd would be installed to my path without a fuss, much like I experienced on my Mac

## What actually happened

[code]

I am still getting my bearings with rust but I will do my best to help -- this t

[2017-06-12 17:40] BurntSushi commented on #43
Your `rustc` is probably too old. What version are you using? The compile error you're getting indicates that it can't find the `String::split_off` method, which was added in Rust 1.16.

@sharkdp One thing I typically do is put an [explicit Rust version in my `.travis.yml`](https://github.com/BurntSushi/ripgrep/blob/23aec586696afb5d3cda1081d63f9641caad1045/.travis.yml#L28-L30) so that I always kno

[2017-06-12 17:42] EricCrosson commented on #43
Awesome :) I'll see if I can compile after I update. Thanks for the pointers

[2017-06-12 17:42] EricCrosson commented on #43
I currently see

[code]

[2017-06-12 17:48] EricCrosson commented on #43
Updating `info: latest update on 2017-06-08, rust version 1.18.0 (03fc9d622 2017-06-06)`

Yessir, updating past Rust 1.16 fixed my problem. Do you know of a better way to update rust than running the uninstall script and then the rustup.sh installer again?

I am amused that travis is still building with the minimum version pegged at 1.12

[2017-06-12 17:48] #43 closed

[2017-06-12 17:50] BurntSushi commented on #43
@EricCrosson The link I gave was to my own separate project, not this one. :-) This one just tests on *current* stable/beta/nightly.

The preferred method of managing Rust installations for *Rust programmers* is [`rustup`](https://rustup.rs/). `rustup` itself is a tool that will let you install multiple Rust installations and switch between them easily. (For instances, I have every Rust version fr

[2017-06-12 19:57] sharkdp commented on #42
Thank you for the suggestion.

Unfortunately, the name `fd` is already taken by @stemjail's https://github.com/stemjail/fd-rs - https://crates.io/crates/fd

Any suggestions on how to proceed?

Are there any other advantages, apart from being able to run `cargo install <crate-name>`?

[2017-06-12 20:25] sharkdp commented on #28
Thank you very much for the suggestion, but I'm going to close this issue (for now).

Here's why:

1) in my opinion, "interactively navigating directories" is a fairly specific use-case for `fd`. I haven't seen any similar feature in related tools or `find`
2) I'd like to keep `fd` simple. Adding a breadth-first option would probably require another flag (unless this would be the default)
3) I'm p

[2017-06-12 20:25] #28 closed

[2017-06-12 20:28] sharkdp commented on #43
Thank you very much for the suggestion! It's implemented now. Also, there was already a comment in the `README` that refers to the rust 1.16 requirement.

Do you think it would be worth to backport to 1.12 (or similar)? My (unfounded) impression is, that most people use `rustup` instead of old versions that come with some distribution package manager (?).

[2017-06-12 21:21] BurntSushi commented on #28
@sharkdp `walkdir` doesn't support breadth first search either, since it's typically not what you want and ends up using resources proportional to the width of directories instead of depth (depth tends to be much smaller). If you wanted breadth first search, you'd have to roll your own.

[2017-06-12 21:36] BurntSushi commented on #43
@sharkdp Nah I think 1.16 is fine. I'll probably bump ripgrep's minimum Rust version in the next release to something similar. I just like to make sure that the bump happens purposefully and with an appropriate version bump.

[2017-06-13 01:45] tmccombs commented on #42
does the cargo/crate name need to be the same as the executable? If not you could name the crate something like `fd-command` or `fd-finder` or even `better-find`

[2017-06-13 01:50] dead10ck commented on #42
The crate name really doesn't matter. Any of @tmccombs ' suggestions would work. @sharkdp there's that, and also storing every old version that gets published without having to resort to something like git tags. Also, it's just a pain for users to have to look up the github URL every time.

[2017-06-13 08:05] douglascamata commented on #26
Formula was merged! o/

[2017-06-13 08:05] douglascamata opened #44 "Test shell script doesn't work in macOS"
I tried to run the test shell script in macOS and it returns this:

[code]

[2017-06-13 08:12] sharkdp commented on #44
I believe this might be fixed by replacing `mktemp --directory` by `mktemp -d`. Unfortunately, I don't have a macOS system to test...

[2017-06-13 08:14] sharkdp commented on #26
Cool, thank you very much!

I think we should add a note to the `README` (install instructions) that it is now possible to just run `brew install fd`, if I understand correctly(?).

[2017-06-13 08:14] #26 closed

[2017-06-13 09:26] erf commented on #26
Thank you! I can confirm `brew install fd` works on macOS.

[2017-06-13 17:06] sublee opened #45 "--version"
Please provide `--version` option to print the version.

[code]

[2017-06-13 18:36] sharkdp commented on #45
This was already supported on master. I've just released [v2.0.0](https://github.com/sharkdp/fd/releases/tag/v2.0.0), which includes this:
[code]

[2017-06-13 18:36] #45 closed

[2017-06-13 19:08] sharkdp commented on #44
I've just updated the `test.sh` script. I'd be great if somebody could test this.

[2017-06-13 19:41] sharkdp commented on #42
I quite like the `fd-finder` idea, but also +1 for the remark about finding an expanded name in order for this to be more memorable (and search-engine friendly).

I tried my best in expanding the `fd` acronym. Here are a few ideas (not to be taken too seriously):
* `find-deluxe` - maybe a little bit too pretentious :smile:
* `file-detector`
* `find-data`
* `finding-dory`

Something like *ag - the

[2017-06-13 20:13] erf commented on #42
Suggestion:
'find direct' or 'file direct(or)' or 'fd - find with rust'

[2017-06-13 21:14] douglascamata commented on #44
@sharkdp I'll test it.

[2017-06-13 22:14] douglascamata commented on #44
Still failing:

![image](https://user-images.githubusercontent.com/159076/27107043-6044497e-5096-11e7-9193-8f3a0d7d39c7.png)

[2017-06-14 00:47] sublee commented on #45
Oh, awesome!  Thank you!

[2017-06-14 15:28] Wilfred opened #46 "Apply colour to text that matched regexp"
Currently, the colours are only based on path: directories are a different colour, executable files are a different colour, etc.

It would be nice to highlight which parts of the path matched the current regexp. This would help understand why a given file matched the regexp.

[2017-06-14 16:16] BatmanAoD commented on #11
@sharkdp It appears that this doesn't actually skip output coloring:

    ls: cannot access ''$'\033''[1;34m <..... etc .... > .....dll: No such file or directory

[2017-06-14 16:58] sharkdp commented on #46
Thank you for the suggestion! In fact, that's something I already tried quickly but it turned out to be a bit more complicated than I thought due to the interleaving ANSI escape sequences.

I was planning to use underlining in order for this to work alongside the coloring. What do you think?

[2017-06-14 17:23] Wilfred commented on #46
Sounds good to me!

[2017-06-15 14:12] #44 closed

[2017-06-15 14:13] sharkdp commented on #44
This should hopefully be fixed now, tested on El Capitan.

[2017-06-16 11:21] epipping commented on #33
@sharkdp Using -L for following/dereferencing (i.e., treating a symlink like the object that it points to) is rather common. And it's not uncommon that the single-letter option does not use the first letter of the option name:

- GNU **ls** has `-L, --dereference` and BSD **ls** also uses `-L` for this purpose
- GNU and BSD **find** both have `-L` and `-follow` (the latter is deprecated)
- GNU **c

[2017-06-16 11:44] sharkdp commented on #33
@epipping Fair points, you convinced me. Changed the action above.

[2017-06-17 12:03] ishitatsuyuki opened #48 "Switch to the `walkdir` crate"
`walkdir` is a recursive directory traversing crate with no redundant operations (stat etc). It's also used by the award-winning `ripgrep` tool.

We always wanted the speed without complexity; how about reusing existing code instead of hand rolling one?

[2017-06-17 12:26] BurntSushi commented on #48
ripgrep uses the `ignore` crate for a parallel walk, which is the same thing that `fd` uses. For single threaded mode, the `ignore` crate uses `walkdir` internally.

I don't see any hand rolled traverser in this repo.

[2017-06-17 12:39] ishitatsuyuki commented on #48
Didn't notice that, thanks for correcting me.

[2017-06-17 12:39] #48 closed

[2017-06-29 01:15] CallumHoward opened #49 "flag to force color"
Thanks for a great plugin!
`fd` doesn't use color when piping, however it can be useful. My usecase is for use with [lotabout/skim](https://github.com/lotabout/skim).
ripgrep provides this behaviour with: `rg --color=always`

[2017-06-29 08:04] sharkdp commented on #49
Thank you for the suggestion. This is (more or less) already tracked here: #33

[2017-07-20 14:38] jmcomets commented on #29
I'm surprised this was closed considering colored output does not work in `cmd.exe`, I'm getting ansi escapes printed to the console every time I fire up `fd` and have to add the `--no-color` option each time. Maybe we should re-open this/add an issue on Windows coloring? [termcolor](https://github.com/BurntSushi/ripgrep/tree/master/termcolor) crate sounded like a great option.

[2017-07-20 14:40] jmcomets commented on #46
Opinion: color seems much more appropriate than underlining (a-la `grep`).

Also, if no one is looking into this, I wouldn't mine giving it a try.

[2017-07-20 16:51] sebasv commented on #29
This issue was regarding compatibility; The code simply didn't compile on windows. Having to flag `no-color` should be the default behavior imho since this is a shortcoming of `cmd`, not Windows. If you want colored output, try Powershell. It's like bash and Python had a baby in Microsoft country. (And it's developed by MSFT)

[2017-07-20 19:10] jmcomets commented on #29
I disagree, we have colored output in CMD via the various `color` calls.
Surely if `ripgrep` can do it, `fd` can do it.

On 18:51, Thu, Jul 20, 2017 Sebastiaan Vermeulen <notifications@github.com>
wrote:

[2017-07-21 07:37] sebasv commented on #29
Then by all means, start a pull request to add `cmd` support. I'm just saying that `cmd` support is not the same as windows compatibility, and should be opened as another issue.

[2017-07-22 14:46] jmcomets commented on #29
[I looked into it a bit today](https://github.com/jmcomets/fd/tree/cmd-colors), there's a few issues in order to implement it:
- `cmd` has no support for "italic" or "underlined" text, in which case these options should be ignored
- after checkout out [termcolor](https://github.com/BurntSushi/ripgrep/tree/master/termcolor), I see no support for fixed colors. There seems to be work in progress [her

[2017-07-29 00:48] sharkdp commented on #46
Sorry for the late response. I'm currently not looking into this. Any help would be greatly appreciated!

[2017-07-29 20:16] sharkdp commented on #29
@jmcomets Cool, thanks for looking into this! I also think we should open a new issue for this.

[2017-09-06 21:08] jmcomets commented on #46
Small follow up: I haven't been able to look at it that much, I've been busy with other repos (and vacation 🌴 🌞 ). I'll keep at it [here](https://github.com/jmcomets/fd/tree/highlight-matching-pattern) ( ⚠️  serious refactored version there, helps me understand but will likely never be merged as complex as it is).

[2017-09-07 06:08] sharkdp commented on #46
No worries and thank you very much for sharing this!

[2017-09-09 13:26] sharkdp commented on #32
This is now implemented. For details, see #41

[2017-09-09 13:26] #32 closed

[2017-09-09 13:29] sharkdp commented on #18
I have re-considered this. Adding such a status line would always mean that we have to traverse all hidden paths and all ignored paths (and their children, ..), which can lead to huge performance downsides.

I'm closing this for now, but I'm still open to suggestions.

Thank you for the feedback!

[2017-09-09 13:29] #18 closed

[2017-09-09 13:31] sharkdp commented on #30
@gitpy I'm closing this for now, as (1) I'm not sure how to reproduce this and (2) the internals of `fd` have changed quite a lot since you opened this ticket: directories are now traversed in parallel.

If you are still interested, it'd be great if you could re-run your benchmark and see if this is still an issue. Feel free to re-open this ticket, if this is the case.

Anyways, thanks for your fe

[2017-09-09 13:31] #30 closed

[2017-09-09 13:40] sharkdp commented on #33
`-L` is now the short-option for `--follow`. `--dereference` can be used as an alias.

[2017-09-09 13:40] #33 closed

[2017-09-09 17:35] sharkdp commented on #42
`fd` is now on crates.io: https://crates.io/crates/fd-find and therefore can be installed via
[code]

Thanks!

[2017-09-09 17:35] #42 closed

[2017-09-15 09:31] jnachtigall opened #52 "Provide binary downloads with every release for easy installation"
I'm a ripgrep user on windows (git bash) and ripgrep makes it really easy to install: https://github.com/BurntSushi/ripgrep#installation. In my case I just did `$ choco install ripgrep`

Would be great if fd would also provide binary downloads with every release:

I guess ripgrep has some automatic build tooling for this.

[2017-09-15 20:20] sharkdp commented on #46
First working prototype in #53

[2017-09-15 20:29] ramn opened #54 "Filter on files or directories"
I'd like a new option ```--type d``` for matching only directories and ```--type f``` for matching only files.

[2017-09-15 20:30] sharkdp commented on #54
Absolutely! This was on my TODO list, but I haven't created an issue, yet.

[2017-09-17 07:40] sharkdp commented on #54
Closed by @exitium via #55 (Thanks!)

[2017-09-17 07:40] #54 closed

[2017-09-17 07:47] sharkdp commented on #52
That would be great, I agree (especially if it would be automated)!

So far, I haven't figured out how to set up AppVeyor properly. Any help would be appreciated.

[2017-09-18 09:26] lnicola commented on #36
One thing I noticed is that `fd` calls `stat` three times for each file.

[2017-09-18 17:29] sharkdp commented on #36
Good catch!! This should be fixed on master (via adaf4f6d73aa6935d381a4eb9be647815aeb46cd), i.e. `fd` should perform only one `lstat` and one `stat` call.

Note: those syscalls are only necessary when colored output is active (in order to check if the entries are symlinks, directories, executables or normal files).

[2017-09-18 17:50] lnicola commented on #36
I think it does a `lstat` via `walkdir` and one `stat` per path component in `print_entry`.

But I'm not sure that's a good idea. Don't we care only about the leaf component? Presumably, non-leaf ones are directories and we only want to check the type of the file.

[2017-09-18 18:17] sharkdp commented on #36
Well, currently `fd` can do this (i.e. colorize "symlink1" as a symlink):

![image](https://user-images.githubusercontent.com/4209276/30557324-309464c0-9cae-11e7-8124-7cf9a79bf6bf.png)

[2017-09-18 19:35] lnicola commented on #36
Yeah, that might be useful, I suppose. I wasn't sure what `fd` is supposed to do with symlinks:

[code]

[2017-09-27 10:52] Mic92 commented on #49
This feature was not implemented. You can only disable colors now. The other tracking issue was closed.

[2017-09-27 11:06] Mic92 commented on #49
the current work-around is to use unbuffer from the expect package:

[code]

[2017-09-27 17:30] sharkdp commented on #49
Good point. Let's reopen this.

[2017-09-29 13:16] sharkdp opened #56 "Add option to only search file extensions?"
For example:
[code]

Right now, this is only possible by searching for `\.rs$`.

[2017-09-29 13:17] sharkdp opened #57 "Add usage examples to the README"
For example:
- [ ] Searching for a substring: `fd todo`
- [ ] Searching for a substring in another location: `fd apache /var/log`
- [ ] Use `fd` as an alternative for `ls -R`: `fd`
- [ ] Searching *all* files (including hidden and ignored files): `fd -HI ...`.
- [ ] Searching for a file extension (see also #56)
- [ ] Piping output to `xargs`: `fd -0 ... | xargs -0 du -h`
- [ ] Show absolute paths

[2017-09-29 13:54] cravend commented on #57
I'd be happy to help with this! Installing fd now so I can test it out.

[2017-09-29 15:11] sharkdp commented on #57
@cravend Sounds great! Any help would be greatly appreciated.

[2017-09-29 17:41] cravend commented on #57
@sharkdp sorry about this, but realized this might not work the best for me--currently windows only. Product looks cool though, good luck!

[2017-09-29 21:11] deg4uss3r commented on #57
I can help with this! Would you like simple examples, or a fancy gif like the README already has :)

[2017-09-30 09:57] sharkdp commented on #57
@cravend no worries. Thanks for considering. fd should work on Windows, though.

@deg4uss3r I think simple markdown code blocks or maybe static screenshots would be great.

[2017-10-03 15:19] jszym commented on #56
I could take this :)

[2017-10-03 15:38] sharkdp commented on #56
Thank you very much, but there are already two open PR's :smile:

If you are interested in working on a different feature, let me know.

[2017-10-03 16:32] #49 closed

[2017-10-03 16:35] jszym commented on #56
noob is noob, thanks for the heads up!

[2017-10-03 17:02] sharkdp commented on #56
Fixed via #58

[2017-10-03 17:02] #56 closed

[2017-10-04 06:35] sharkdp opened #63 "Provide more detailed '--help' output"
clap has an option to show a more detailed help message if `fd --help` is called (as compared to `fd -h`):

* https://docs.rs/clap/2.26.2/clap/struct.Arg.html#method.long_help
* https://docs.rs/clap/2.26.2/clap/struct.App.html#method.long_about

We could use this to provide a more detailed help text for `fd`.

[2017-10-04 06:37] sharkdp opened #64 "Add shell completion support"
clap is able to [automatically produce shell-completion files](https://docs.rs/clap/2.26.2/clap/struct.App.html#method.gen_completions). It would be great if we could easily generate them and ship them with each `fd` release.

[2017-10-04 06:39] sharkdp commented on #56
@deg4uss3r @jszym - If you are still interested, there are a few new open tickets now: https://github.com/sharkdp/fd/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest

[2017-10-04 06:44] sharkdp opened #65 "Re-write integration tests in Rust"
If there is a nice way to write the current integration tests (`tests/test.sh`) in Rust, this would be really beneficial:

* the tests would be platform-independent. Currently, the integration tests (naturally) do not run on Windows.
* `cargo test` would run both unit tests and integration tests

[2017-10-04 10:45] reima commented on #65
Had the same thought yesterday and just wanted to open an issue for it 😃

I'll take a stab at this and will report back with a prototype later today.

[2017-10-04 16:32] sharkdp commented on #64
This has been solved by @ImbaKnugel in #66 (Thanks!).

Leaving this open until I figure out the best way to ship these with each release.

[2017-10-04 21:22] sharkdp commented on #65
Closed via #67

[2017-10-04 21:22] #65 closed

[2017-10-04 22:03] abaez commented on #63
Hey,

I would like to take a stab at this. Probably get this one done later tonight.

[2017-10-04 22:04] sharkdp opened #69 "Re-enable OSX on Travis"
`osx` is currently disabled in `.travis.yml` because the tests won't start ("Waiting to be queued"). Not sure what is going on there.

[2017-10-04 22:16] sharkdp opened #70 "Proper support for Windows"
There are a few things that need to be updated:

- [x] Proper handling of absolute paths (such as `C:\users\...`)
- [x] Ability to specify a search path.
- [x] Colored output

If the first two are fixed, we should be able to activate all tests that are currently disabled on Windows: https://github.com/sharkdp/fd/blob/2403ac350a8a0771f24a1a7eaf2cbe4f43419ab7/tests/tests.rs#L42-L43

Concerning point

[2017-10-06 14:26] sharkdp commented on #69
Looks like this is related to https://blog.travis-ci.com/2017-09-22-macos-update

[2017-10-06 14:31] #57 closed

[2017-10-07 12:20] sharkdp commented on #63
Closed via #71

[2017-10-07 12:20] #63 closed

[2017-10-07 12:21] sharkdp commented on #46
I'm going to close this, as there seems to be no activity. If anyone is interested in reviving this, have a look at #53

[2017-10-07 12:21] #46 closed

[2017-10-07 12:43] sharkdp commented on #70
Colors actually work fine on Windows 10 / Powershell:

![image](https://user-images.githubusercontent.com/4209276/31307947-d073ab9a-ab6d-11e7-9d3a-a139b14c2f07.png)

[2017-10-07 12:43] #70 closed

[2017-10-07 12:44] Detegr commented on #70
Powershell works fine, cmd.exe does not. I think we should either disable the coloring when the output is windows console or use `termcolor` to color the output if it is going to the windows console.

[2017-10-07 12:55] sharkdp commented on #70
that would be one option. Maybe there is some kind of environment variable that is only set in PowerShell/cmd.exe.

This way, we would actually loose support for 256 colors on Windows/PowerShell, which I would think is the default for people that are actually using the command line on Windows (?)

[2017-10-07 13:02] Detegr commented on #70
True, but I would like to think `termcolor` will eventually support 256 colors and this would no longer be an issue. I think it also would be better to support some colors on both consoles on Windows than to support no colors at all.

[2017-10-07 13:20] sharkdp commented on #70
Somehow, I would like to get a feeling on how many people there are that actually do serious work in `cmd.exe` (serious in the sense that they are willing to install something like *fd* to improve their command line experience).

If there is such a user base, I'd be willing to work on that. Feel free to open a new ticket concerning `termcolor` support.

[2017-10-07 13:32] sharkdp opened #73 "Use real-world examples in the tutorial"
The tutorial in the README contains the common use cases of `fd`, but it would be nice if we could find real-world examples for each of these use cases (as opposed to searches in a test-environment).

Some random ideas:
* Find specific log files in `/var/log`
* Find configuration files in `/etc`
* Use the *fd*-repository as an actual real world example
    * Use a plain `fd` call to get an overvie

[2017-10-07 14:14] sharkdp commented on #52
For the new release v4.0.0, there is at least a binary package available via the release page: https://github.com/sharkdp/fd/releases/tag/v4.0.0

[2017-10-07 18:16] TitiAlone commented on #73
I take this.

[2017-10-07 19:59] #69 closed

[2017-10-07 20:06] sharkdp opened #76 "Set up Travis to upload binaries for every release"
This already works for Windows builds (via Appveyor, see `appveyor.yml`). It would be great if we could also upload Linux and macOS tarballs, as well.

[2017-10-07 20:07] sharkdp commented on #64
The PowerShell completions are already included in the Windows tarballs. Closing this in favor of #76.

[2017-10-07 20:07] #64 closed

[2017-10-07 20:12] sharkdp commented on #36
If somebody has any ideas on how to proceed on this, I'd love to hear them!

Here are the two benchmark scripts that I have so far:

https://gist.github.com/sharkdp/4bc3e5f5ea9df2f29c02ede50634b16a

[2017-10-08 00:08] gyscos opened #77 "Add man (1) entry"
Adding a man entry would be a nice improvement for when `fd` is packaged ([And possibly some day for when installed via `cargo install`?](https://github.com/rust-lang/cargo/issues/2729)).

[2017-10-08 06:30] sharkdp commented on #31
If anyone comes back to this ticket. This all happened before parallel search was implemented (#41). `fd` has become much faster since then and is typically also faster than `find -iname`.

[2017-10-08 06:34] sharkdp commented on #77
Good suggestion, thank you!

Does anyone know a modern/easy way to write man pages? For another project, I was using pandoc to create them from markdown pages (see [here](https://github.com/sharkdp/insect/blob/master/docs/generate.sh)), but I'm not sure if that's also the best option here.

In particular, I would like to avoid having to keep man page and `--help` text in sync manually.

[2017-10-08 07:39] gyscos commented on #77
It seems [ripgrep uses pandoc as well](https://github.com/BurntSushi/ripgrep/blob/master/doc/convert-to-man).

[2017-10-08 09:42] sharkdp commented on #76
ripgrep and tokei seem to do something like this:

* https://github.com/BurntSushi/ripgrep/blob/master/.travis.yml
* https://github.com/Aaronepower/tokei/blob/master/.travis.yml

[2017-10-08 09:54] sharkdp commented on #70
Actually, there seems to be some work on this here: https://docs.rs/clicolors-control/0.1.0/clicolors_control/

[2017-10-08 18:51] sharkdp commented on #73
@TitiAlone Sounds great! Let me know if you have anything to share (even single examples).

[2017-10-08 20:56] hherman1 opened #79 "Does not compile on Windows Powershell"
`cargo install fd-find`
[code]

[2017-10-08 21:13] sharkdp commented on #79
Which version of `rustc` are you using? You will need at least 1.16

(I guess this is a duplicate of #43)

[2017-10-08 21:26] sharkdp opened #80 "Use "--type l" for symlinks, not "--type s""
.. to be compatible with `find`.

[2017-10-08 21:36] iology opened #81 "Current directory not included when using relative path"
[code]

In directory "a":

[code]

[code]

[code]

In directory "b":

[code]

[2017-10-08 21:46] iology commented on #81
This bug continues with symbolic links:

[code]

[code]

[2017-10-08 21:52] sharkdp commented on #81
Good catch. It seems to work if `-a` is used. On the other hand, using `-a` also includes the parent directory (`..`). It shouldn't change the search results at all. Definitely a bug.

[2017-10-08 21:52] #79 closed

[2017-10-08 22:05] iology commented on #81
BTW, would `fd` simulate the behavior of `find`, which include `.` and `..` for `fd .` (or just `fd`) and `fd ..` respectively?

[2017-10-08 22:25] iology opened #82 "Path of directory symlink is resolved to real path"
[code]

In directory "b":

[code]

(For `fd . $PWD`, with or without option `-L`?) The result should be `/path/b` and `/path/b/a` unless resolving is requested by the user.

[2017-10-09 03:00] fiveNinePlusR opened #84 "Add some sort of exec command."
I am sure this utility could improve upon find's exec command to make a common thing easily accessible and powerful. xargs is not an awesome way to do it because of limitations with spaces in filenames.

interactive exec would be nice to have too. do a `fd --interactive-exec some_query` and then you are prompted for a command that doesn't need any special delimiters but would pass in things like %

[2017-10-09 03:36] iology opened #85 "RFC: Use glob pattern by default & Case-sensitive by default, No smart case"
RegExp is quite complicated if users do not pay attention to it.

Say that you want to delete directories named "tests" but forget to add `^` and `$` (`^tests$`), then some other directories may be deleted too.

Smart case just makes more trouble when you copy-paste some file names with upper-case letters, like ".DS_Store". And for documentation purpose I would like to keep the upper-case (in MacO

[2017-10-09 04:39] rozuur commented on #80
Can I pick this?

[2017-10-09 05:08] sharkdp commented on #80
Thank you for considering to help, but there is an open pull request already.

[2017-10-09 05:18] ofek commented on #70
@sharkdp Will \#1 be in the next release? I currently get 2 extra path separators after the drive e.g. `C:\\\Users\Ofek\Desktop\...`.

[2017-10-09 05:28] rozuur commented on #80
Ahh.. didn't realize it. No issues will check something else.

[2017-10-09 05:45] Detegr commented on #84
`fd` supports `-0` to use with `xargs` to support spaces in filenames:
[code]

[2017-10-09 06:35] sharkdp commented on #85
Thank you for your contribution.

I'm certainly against it. Part of the reason I created *fd* was not having to type `'*test*'`, when I just want to search for `test` as a substring.

I would argue like this: I hope that no-one really calls `any_command | xargs rm` without checking the output of `any_command` first.

Also, I'd rather not.

Would it help if *fd* had an `--case-insensitive` flag to

[2017-10-09 10:07] snitko opened #86 "Error: use of unstable library feature 'string_split_off' when trying to install with Cargo"
Trying to install with cargo (Ubuntu 17.04, cargo 0.16.0-nightly) results in the following error:

[code]

[2017-10-09 10:53] sharkdp commented on #86
Which version of Rust are you using? You will need at least 1.16.

I'm closing this, as it seems to be a duplicate of #43 and #79.

[2017-10-09 10:53] #86 closed

[2017-10-09 11:40] indeyets commented on #84
The main point of `-exec` is not the escaping, but shell's limitations on number of arguments. `xargs` can not execute command if there's too many of those. `-exec`, on the other hand, is not limited by shell as it executes commands sequentially one at a time

[2017-10-09 14:25] esyphelon opened #87 "Handle terminal signals"
Hey love the project, but I noticed the first time I used it(did a too wide search that I wanted to stop), that it doesn't seem to listen for signal interrupts very well(Sigterm and the like).

[2017-10-09 16:44] Ziggoto commented on #84
Up

[2017-10-09 19:25] #80 closed

[2017-10-09 19:29] sharkdp commented on #87
Thank you for the feedback.

Is there anything specific that happened when you cancelled the process?

I'm not sure what the expected behavior would be. Sending `SIGTERM` or `KILL` seems to work fine for me.

[2017-10-09 19:33] sharkdp commented on #52
@jnachtigall I'm closing this for now, as we now auto-generate Windows executables for every release. If you are interested in Chocolatey, in particular, please feel free to open a new ticket.

[2017-10-09 19:33] #52 closed

[2017-10-09 19:41] sharkdp commented on #84
It would be great if someone could come up with a specific plan on how this would work. Do we want to clone *find*s `-exec` behavior? *find*s `-execdir` behavior? Is there anything that we want to do differently? Anything we could improve?

[2017-10-09 19:56] jnachtigall commented on #52
Cool. @sharkdp btw, congrats for being on top of HN ;) You deserved it, very useful tool!

[2017-10-09 19:59] sharkdp commented on #52
Thank you for the feedback!

[2017-10-09 20:03] sharkdp opened #88 "Split up main.rs into separate modules."
A possible split could look like this:

- `main.rs` just includes the `main` function and the command-line parsing / options.
- Split out `print_entry` into its own module (`output.rs`?). Possibly split up the `print_entry` function as well.
- Split out `scan` into its own module (`traversal.rs`, `walk.rs`, or sth. similar). Possibly split out receiver and transmitter code into their own functions

[2017-10-09 20:08] gsquire commented on #84
I reach for `-exec` the majority of the time and would think that is most popular. I know `{}` is useful for explicitly saying the command uses the match as an argument so it would be great to support that. Perhaps instead of passing a semicolon to terminate the command, `fd` could just use all arguments after the `-exec` flag?

[2017-10-09 21:24] iology commented on #85
Ah yeah, `--case-insensitive` is useful. Also useful to override the previous `--case-sensitive`. `--glob` is better than `--literal`, since shell users should already know glob patterns. Better to have `--regexp` for switching back to regexp for the alias `fd --case-sensitive --glob`.

That's not enough. There could be exceptions when searching more files. If you want to write a non-interactive s

[2017-10-09 23:49] gsquire commented on #88
Can I claim this?

[2017-10-10 05:02] sharkdp commented on #88
Sure! Let me know if you need any help.

[2017-10-10 05:09] tmccombs opened #89 "Add --exclude option."
Add an --exclude option which takes a .gitignore style pattern to exclude from the search (the option can be specified multiple times to add multiple excludes).

Maybe also consider a complementary --include option.

# Implementation

The argument(s) would be added to the WalkBuilder with the `overrides` method, with a "!" prepended so they are exclusions, not inclusions. Alternatively, write the

[2017-10-10 10:11] GabrielKast opened #91 "The SSL Certificate is invalid?"
Hi,
I was trying to install fd via cargo. Here is the output
[code]
Am i the only one?

[2017-10-10 11:03] unhammer commented on #33
I'd also love to have the `-u` / `-uu` as in ripgrep – it's annoying enough the first time you don't find something because it's in .gitignore, so it'd be nice if the UI to turn it off were consistent with other "modern unix tools" you're likely to have :-)

[2017-10-10 14:39] axs221 commented on #89
Yes this can certainly help with integrations along with CLI convenience. I was hoping to integrate fd with my Vim file find plugin [Vim-Quickly](https://github.com/axs221/vim-quickly). rg and ag file search allow for exclusion options which lets me exclude Vim's "wildignore" patterns. I don't really want to integrate something that will frustrate users by not ignoring "wildignore", so I'll hold o

[2017-10-10 17:38] sharkdp commented on #91
I don't think it's related to `fd`. It seems like `cargo` cannot download the package index. Can you access `https://github.com/rust-lang/crates.io-index` from your console?

[2017-10-10 17:38] #91 closed

[2017-10-10 17:52] sharkdp commented on #89
@tmccombs Thank you for writing this up. Sounds good to me.

Seems like the `overrides` method is the right way to go. If I understand correctly, multiple overrides can be added via [`OverrideBuilder::add`](https://docs.rs/ignore/0.1.5/ignore/overrides/struct.OverrideBuilder.html#method.add).

I was previously thinking about adding an `--exclude` option that would take a regex as an argument, but

[2017-10-10 18:01] sharkdp commented on #84
That's actually one thing that we have to think about when writing up a proposal on how this should be implemented.

Since `fd` searches files in parallel, we could (in principle) execute the necessary child processes in parallell. This would potentially lead to a significant speed but could also complicate things a lot.  That would be somewhat similar to `fd -0 .. | parallel -0 ...`.

[2017-10-10 18:10] sharkdp commented on #87
One thing I have noticed is that sometimes the last result will not be printed out completely:
[code]

I'm not sure if this is something that should be taken care of, to be honest.

@Detegr I found your [`Ctrl-C` handler](https://github.com/Detegr/rust-ctrlc) while searching for signal handlers in Rust. Would this be something that could help here?

[2017-10-10 18:17] indeyets commented on #84
It was brought to my attention that, actually, `xargs -n 100 -P 4` will execute commands in batches of 100 arguments using up to 4 parallel processes. So, according to unix-way there's no problem and case can be closed. Sorry for my ignorance.

It might be an opportunity for optimization, but, probably, it would be enough to document why `-exec` is not needed

[2017-10-10 18:30] sharkdp commented on #84
@indeyets Thank you, I also didn't know that.

I'm also starting to think that it might be better to not include `-exec` in *fd*. And I agree, it would be in line with the "unix-way" and also the goals of *fd* (to be a simple and easily understandable tool).

I don't want to make any decision yet, though. Please keep the discussion going :+1:

[2017-10-10 18:34] sharkdp commented on #33
I would like to keep the command-line interface as clean and simple as possible (i.e., I don't want the `-h` text to be several pages long), but adding `-u` seems like a good idea. We could possible hide it from the standard `-h` text and add it as a hidden option that would only be mentioned in a man page. It would be great if you could open a new ticket to track this.

[2017-10-10 18:47] sharkdp commented on #85
@iology Thank you for your feedback.

I would like to close this, as I (currently) don't see *fd* switching to glob patterns by default (or case-sensitivity by default).

The current behavior of *fd* concerning regex-by-default and smart-case-by-default is a rather characteristic feature of *fd*, which I would really like to keep stable, if there are no strong reasons to change them.

Please feel

[2017-10-10 18:47] #85 closed

[2017-10-10 18:55] unhammer opened #92 "Options -u (and -uu) as in ripgrep"
As mentioned in https://github.com/sharkdp/fd/issues/33 , `-u` as an alias for `--no-ignore` and `-uu` as an alias for `--no-ignore --hidden` would make it easier/less surprising to use this alongside ripgrep.

[2017-10-10 19:03] sharkdp commented on #92
I'm going to copy over what I said in #33:

I would like to keep the command-line interface as clean and simple as possible (i.e., I don't want the `-h` text to be several pages long), but adding `-u` (and `-u -u`) seems like a good idea. We could possible hide it from the standard help text and add it as a hidden option that would only be mentioned in a man page(?)

[2017-10-10 19:19] sharkdp commented on #70
Ok, in this case it looks like a bug. It would be great if you could open a new ticket to discuss this.

[2017-10-10 19:25] ofek commented on #70
@sharkdp Here or https://github.com/rust-lang/rust?

[2017-10-10 19:48] ofek opened #93 "Absolute paths on Windows"
I currently get 2 extra path separators after the drive e.g. `C:\\\Users\Ofek\Desktop\...` which does not work in Windows.

Windows 7:
![capture](https://user-images.githubusercontent.com/9677399/31406618-0f29e2be-add0-11e7-99fb-16a0fdee8df4.PNG)

Windows 10:
![w10](https://user-images.githubusercontent.com/9677399/31407271-54fb6d1a-add2-11e7-8262-2d09263bb618.PNG)

[2017-10-10 23:22] danielpclark commented on #93
According to Microsoft:

Source: https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

And the Ruby language uses forward slashes for File paths and that works on Windows.

[2017-10-11 00:18] rafaelfragosom opened #94 "Search in Files"
I would be really awesome to have a feature to search text inside files.

[2017-10-11 00:54] iology opened #97 "Support glob patterns"
Tracking #96

Add the flag --glob to take `<pattern>` as a glob pattern. And --regex to override --glob.

[2017-10-11 01:35] ofek commented on #93
@sharkdp Upon further inspection, it appears that this is something specific to `fd`. The `\\?\\` is correctly removed but I don't know where those 2 extra separators come from.

[code]

yields `\\?\C:\Users\Ofek`.

[2017-10-11 02:00] iology commented on #94
You may need [ripgrep](https://github.com/BurntSushi/ripgrep). E.g. `rg ---files-with-matches -0 PATTERN [path]...`

[2017-10-11 04:58] unsignedint commented on #92
I would like to take this on, if I may :)

[2017-10-11 05:30] sharkdp commented on #92
Sure!

[2017-10-11 05:32] esyphelon commented on #87
So what happened for me was I killed it(Ctrl-C) while the output was scrolling. It stopped scrolling an the console became non-responsive. I am away from the computer in question, I will see if I can reproduce tomorrow morning.

[2017-10-11 06:05] sharkdp commented on #94
Yes, there are other tools that are designed for this purpose (like ripgrep, grep, ag, etc.).

If you have already built a search query in `fd`, you can still use `xargs` to search exactly these files:
[code]

[2017-10-11 06:05] #94 closed

[2017-10-11 06:21] #88 closed

[2017-10-11 06:24] sharkdp commented on #93
This might come from using `Path::join`.. but that's just a guess. Will take a closer look soon.

[2017-10-11 07:14] Detegr commented on #87
Sure, however you would need to fetch a value of an atomic variable after printing each line. My initial thought for a signal handler would be to print a reset sequence and exit the program to ensure that the terminal configuration is sane after terminating. However, `fd` locks stdout for printing so I'm not sure if this would be possible.

@esyphelon if you can reproduce the issue, try writing `r

[2017-10-11 10:17] iology commented on #97
Current it is impossible to match arbitrary bytes with `(?-u)`, so non-UTF8-encoded filenames cannot be matched. What do you think?

[2017-10-11 13:49] Detegr opened #99 "Use rustfmt to format the source code"
[Rustfmt](https://github.com/rust-lang-nursery/rustfmt) automatically formats Rust code to conform [Rust style guide](https://github.com/rust-lang-nursery/fmt-rfcs/blob/master/guide/guide.md). The current code base of `fd` is hand formatted and I think it would be easier for contributors if we formatted the code with `rustfmt`.

What do you think? If there's some irritating style decisions in `rus

[2017-10-11 14:04] Detegr commented on #99
For the reference, I pushed a commit to [my fork](https://github.com/Detegr/fd/tree/rustfmt) which formats the repo using `rustfmt`.

[2017-10-11 17:03] sharkdp commented on #99
Sounds good!

Should we also enforce this via Travis/Appveyor in the future? Can `rustfmt` be used as a checker?

[2017-10-11 17:04] Detegr commented on #99
Yes, it should be possible. I'll look into that.

[2017-10-11 18:27] sharkdp commented on #97
Thank you for your contribution!

If I understand this correctly, this would basically be like *find*'s `-name`/`-iname`, right?

How would glob-matching work, exactly?

- Would this respect *fd*s smart-case-by-default setting and change to case sensitive for `-s`?
- How would this work together with `--full-path`? Would we try to match the glob pattern on the full path as well? Does that make sen

[2017-10-11 21:15] #92 closed

[2017-10-11 23:03] iology commented on #97
Yes, the glob pattern is converted to a regex pattern, prefixed with '(?-u)' to match arbitrary bytes (not UTF-8 aware, but I removed it in the patch).

Not working well currently, I just saw that flag. Glob pattern like `**` is also useful on full path.

Omitted too. :P But there is a conflict: `fd -e .rs src this_repo` gives nothing.

[2017-10-12 00:36] iology commented on #97
Oh, there is no conflict between `-e` and `<pattern>`.

[2017-10-12 00:39] iology commented on #97
PS. The syntax for globs: https://docs.rs/globset/0.2.0/globset/#syntax

[2017-10-12 01:25] iology commented on #89
I think `--ignore-file` (just like `ripgrep`) would be better than mixing two syntaxes on the commandline, then can override any includes/excludes in the file.

[2017-10-12 01:30] iology commented on #89
Also see the `--iglob` option of [ripgrep](https://github.com/BurntSushi/ripgrep/).

(😛 I can turn `ripgrep` into a simpler `fd` command like this: `rg --files --glob PATTERN`)

[2017-10-12 08:43] iology opened #103 "Smart case is not as smart as ripgrep's"
Although I'm not a fan of this feature, you may be interested.

Example: `\Acargo` and `carg\x6F` do not match "Cargo".

[ripgrep uses the regex-syntax crate to check the regex AST](https://github.com/BurntSushi/ripgrep/blob/12ffcb4296e0c2068797daea6ed88885b060d916/grep/src/search.rs#L199-L215).

[2017-10-12 11:35] fddayan opened #104 "fd conflicts with oh-my-zsh common alias fd for find directories"
if you have installed oh-my-zsh the default common aliases includes`fd` which searches for directories.

Took me a while to figure it out

I know this is BIG change but it would be a better idea to give the project a more meaningful name and let users alias the command to `fd` or something else.

[2017-10-12 13:51] Detegr commented on #104
Which plugin adds `fd` alias? I've been using oh-my-zsh for a long time and do not have `fd` bound to anything at the moment.

[2017-10-12 14:51] fddayan commented on #104
grep -r 'find . -type d -name' ~/.oh-my-zsh

~/.oh-my-zsh/plugins/common-aliases/common-aliases.plugin.zsh:alias
fd='find . -type d -name'

On Thu, Oct 12, 2017 at 10:51 AM, Antti Keränen <notifications@github.com>
wrote:

--
Federico Dayan

[2017-10-12 17:35] #99 closed

[2017-10-12 19:42] sharkdp commented on #104
@fddayan That is unfortunate.

I knew that there was a price to pay (name clashes, harder to find) when naming this `fd`, but I wanted to have something short like `rg`, `ag`, `ls`, etc. Of course, I could have asked all users to set an `alias fd`, but somehow that doesn't seem very user-friendly to me.

I'm also a user of oh-my-zsh and (as well as for @Detegr) that alias was not enabled for me. C

[2017-10-12 19:46] sharkdp commented on #103
Thank you for reporting this!

[2017-10-12 19:58] sharkdp commented on #97
Thank you for the clarification.

Could you please explain this in more detail? I'm not familiar with `(?-u)`

[2017-10-12 21:31] iology commented on #97
`(?-u)` means "disable Unicode support". So that `.` matches a single byte, not a valid UTF-8 byte sequence. Normally the regex crate has Unicode support enabled.

Ref: https://doc.rust-lang.org/regex/regex/index.html#grouping-and-flags

[2017-10-12 21:34] lewisinc commented on #104
Just a drive-by suggestion for `findr`.

[2017-10-12 22:58] iology commented on #104
@lewisinc Yeah, I renamed it as `rfind` (regex-find) :P

[2017-10-13 05:37] Detegr opened #105 "Consider relicensing under MIT/Apache-2.0"
Some time ago, there were requests that MIT or Apache-2.0 licensed Rust projects would be relicensed under MIT/Apache-2.0 dual license, see [here](https://github.com/sfackler/rust-postgres-macros/issues/19).

Please consider if this would be acceptable for this project as well.

[2017-10-13 05:54] avently commented on #36
On my system fd is slower than find. After multiple starts:
fd -HI -c never zsh         //2.3-2.4 sec
find . -name "*zsh*"       //1.9 sec

[2017-10-13 11:12] fddayan commented on #104
got it. thanks. Just a suggestions

On Thu, Oct 12, 2017 at 7:58 PM, J.W <notifications@github.com> wrote:

--
Federico Dayan

[2017-10-13 12:15] #104 closed

[2017-10-13 14:36] warpsprung opened #106 "Add option: stop search after 'n' hits"
Would make it very useful e.g. in scripts

[2017-10-13 15:27] sharkdp commented on #106
Hi, thank you for your feedback.

You can use `head` to achieve this:
[code]

[2017-10-13 15:30] warpsprung commented on #106
Using head will not stop fd from further trying to find something. In a script it's important that this search is quick and fast (and immediately over once it found what it was searching for).

[2017-10-13 15:39] sharkdp commented on #106
Actually, it will stop fd. Once the pipe is broken, fd will exit.

There is one special thing to consider for *fd*: It actually buffers results for a certain time until it will start streaming results to the console (by default, 100 ms). You can disable this using:

[code]

Check the timings:

Without using `head`, it takes a long time (5 s):
[code]

Using `head`, it finishes early. It takes aroun

[2017-10-13 15:47] sharkdp commented on #104
@fddayan Thanks for asking.

[2017-10-13 15:57] sharkdp commented on #105
To be honest, I haven't fully understood dual licensing.

If I understand correctly, it means that users of the software can choose between the two licenses.

MIT is more permissive than Apache-2.0 (due to the absence of patent clauses), so will the software still be protected from patent litigations if it is dual licensed? If not, what is the advantage of dual-licensing with Apache-2.0?

[2017-10-13 16:01] sharkdp commented on #97
Sorry to be pedantic, but what does this mean, exactly?

Do we need Unicode to be disabled to match files with UTF-8-broken filenames?
Do we need Unicode to be enabled to be able to match on glob patterns with non-ascii characters in them?

[2017-10-13 16:04] sharkdp commented on #89
@tmccombs @Detegr What do you think? Would `--ignore-file` be preferable over `--exclude`/`--include` (and/or `--mount`, see #74)?

[2017-10-13 16:11] sharkdp commented on #36
@avently Thank you for the feedback! Could you please give a little bit of background information?

- Which version of fd are you using (`fd -V`)?
- How many cores does your system have (`nproc`)?
- Which OS?
- Anything specific about the directory that you perform the search in (e.g.: what kind of physical device is it placed on)?

[2017-10-13 16:16] #81 closed

[2017-10-13 16:26] sharkdp opened #107 "Uniform output format when searching a parent directory"
(courtesy of @iology in #102)

Consider this directory tree:
[code]

Now, go to `dir1` and perform a search in the parent directory:
[code]

The results are correct, but it would be more helpful if the output would look like this (in some order):
[code]

[2017-10-13 16:29] avently commented on #36
@sharkdp
4.0.0
2 cores and 4 threads (Intel i3)
Manjaro (Arch-based)
home directory (~/), ext4 mounted from the same HDD as the system,  630000 files

[2017-10-13 16:36] mmstick opened #108 "Implementing Command Execution?"
Would there be an interest in emulating the `find` command's `-exec` argument, for executing discovered files within a tokenized expression? If so, I could probably implement it in a day (maybe even parallel command execution as a bonus, too).

[2017-10-13 16:37] mmstick commented on #108
Closing as duplicate of #84

[2017-10-13 16:37] #108 closed

[2017-10-13 16:37] sharkdp commented on #36
@avently Thanks!

I just now looked at your command more closely. Note that these two commands do something quite different:

`find . -name "zsh"` will look for files whose name is exactly "zsh" (case-sensitive)

`fd -HI -c never zsh` will look for files whose filename matches the regular expression "zsh" (anywhere, case-insensitive).

To have a fair comparison, you should consider running either

[2017-10-13 16:41] mmstick commented on #84
I could easily implement this within a day, and possibly parallel command executions via a job pool, too. I've a lot of experience with this kind of software in Rust. I would recommend following GNU Parallel's syntax for command generation though. It's much more flexible than `find`'s limited command generation capabilities.

[2017-10-13 16:43] avently commented on #36
@sharkdp the command i used for test was
find . -name "*zsh*"
I just wrote here the wrong one.
As i understand it's the same as
fd -HI -c never zsh
but case-sensitive

[2017-10-13 16:46] sharkdp commented on #36
Oh I see, Markdown was interpreting `*zsh*` as italic *zsh* :smile:

In this case, they are the same (except for case-sensitivity). But note that *fd* does regex-by-default.

[2017-10-13 16:50] pickfire commented on #77
@sharkdp I know how to write man pages in both `roff` and `mandoc` (which I had learned from suckless). Need some help?

It would be really nice if it wasn't written in pandoc first since some of the man pages generated by pandoc is generally ugly (like code snippets).

[2017-10-13 16:53] sharkdp commented on #84
@mmstick That sounds good :smile:

Given that you wrote a `parallel`-clone in Rust, why do you think it would be beneficial to add `--exec` to *fd* (instead of just piping to `parallel`)?

Before we implement a feature like this, I would like to see at least a short outline on how this would feature would work exactly (which command-line options would be added? what would be the syntax of the `--e

[2017-10-13 16:53] avently commented on #36
@sharkdp fd use  344% cpu, find use 96% cpu for those queries.
But if i use regex search:
find . -iregex '.*zsh.*'
system 99% cpu 5,436 total

fd is winner in the regex search.

[2017-10-13 16:56] sharkdp commented on #77
Yes, that would be great!

(Side remark: Concerning the `EXAMPLES` section, see #73.)

[2017-10-13 16:58] fiveNinePlusR commented on #84
Interesting syntax for that... If you did add this to the utility, would it also be prudent to add in something like the following?

[code]
etc. to make it more explicit. the other tokens would still be matched on as well.

The idea is analogous to `-v` and `--verbose` one's short and cryptic and the other is long and explicit to the reader.

[2017-10-13 17:08] mmstick commented on #84
It's just a rather simple feature that can easily exist within it's own standalone module. The main benefit would just be cutting out the middle man. I would think that just the `--exec` flag would be good enough, and syntax would look similar to GNU Parallel.

[code]

# How It Would Work

You could simply have it to where all arguments following `-exec` are treated as the command to use, and if n

[2017-10-13 17:11] pickfire commented on #77
@sharkdp Which one would you like it to be in? `roff` or `mandoc`?

[2017-10-13 17:27] mmstick commented on #84
If there are any against it, I could also implement it as an optional feature, gated behind conditional compilation.

[2017-10-13 17:35] warpsprung commented on #106
Using head will not stop fd from further trying to find something. In a script it's important that this search is quick and fast (and immediately over once it found what it was searching for).

[2017-10-13 17:43] sharkdp commented on #84
@mmstick Sounds good, thank you very much for writing this up!

I'm certainly not against this feature, but I'm curious what the advantage is over using `parallel`/`xargs`?

[2017-10-13 17:50] mmstick commented on #84
Having to bring out `parallel` / `xargs` results in having to execute a command to execute commands. So instead of `fd -> parallel -> shell procs -> commands`, you'd just have `fd -> shell procs -> commands`. If you wanted to go a step further, you could also directly embed the Ion shell as a library, and then you'd just have `fd -> commands`. Put simply, you'd win benchmarks. No real advantages o

[2017-10-13 17:51] sharkdp commented on #106
I'm sorry if this was by accident, but simply posting the same statement again seems rather ignorant to me. I was trying to help you.

[2017-10-13 17:53] Detegr commented on #105
I am no means an expert when it comes to licenses and legal issues, but yes, as you stated it means that the users of the software can choose between the two licenses. If `fd` would be shipped within a project, the project could choose between MIT and Apache 2. This in turn gives more freedom to the user because it can be easier for the user to choose the more strict license (for example to omit c

[2017-10-13 17:56] warpsprung commented on #106
Maybe Windows 10 is causing some confusion here, with this OS 'head' doesn't stop 'fd' (at least not the head command that comes with a msys installation). So at least for the Windows platform such an option would make sense.
Also 'fd' might still need some optimizations as the builtin 'where' command takes 44s on my 512 GB SSD to search for certain filenames while 'fd' takes 55 seconds. But 'fd'

[2017-10-13 18:03] reima commented on #93
Has this already been fixed? I can't repro this behavior on Windows 10.

[code]

[2017-10-13 18:15] sharkdp commented on #93
@reima Thank you for the feedback. It has not been fixed.

I'm not sure, but this issue might only appear if an explicit search path is given (like in `target\debug\fd.exe -a -c never E:\Development`)

[2017-10-13 18:18] sharkdp commented on #105
Thank you for the clarification. In this case, I'm open to relicensing *fd* under MIT/Apache-2.0. Would you be willing to organize the necessary steps (have all contributors sign, add the new license, modify Cargo file, etc.)?

[2017-10-13 18:30] sharkdp commented on #106
I see, thank you for the clarification. Could you try PowerShell's `select` command? I.e., something like
[code]

I'm not exactly sure how `where.exe` works (if it maybe has access to some search index?), but it looks like it does glob-matching instead of regex searches. Could you show the two commands that you used to benchmark? Also, did you run them once or more often?

It should work on PowerS

[2017-10-13 18:42] sharkdp commented on #77
@pickfire I don't know neither of these tools, so I would trust your judgement.

[2017-10-13 18:53] sharkdp commented on #84
Fair enough, in this case, let's go for it :smile:. The feature has been asked for by a lot of people. Your help/contribution would be very much appreciated.

I think I would prefer to only support the first variant of this, i.e. just a normal command line option `--exec`/`-e` that takes a single argument. This option could appear anywhere on the command line -
 before or after the pattern, just l

[2017-10-13 19:00] reima commented on #103
I'll take a look at this!

[2017-10-13 19:03] warpsprung commented on #106
I can confirm select -first 1 works in PowerShell. The colored output doesn't (PSVersion 5.0.10240.17609).
Within my cmd shell I used these two commands:
where /R C:\ cmd.exe
fd -t f cmd.exe C:\

[2017-10-13 19:06] reima commented on #93
It works for me even with an explicit path:
[code]

@ofek Can you please tell us how to reproduce this issue?

[2017-10-13 19:09] mmstick commented on #84
This can be implemented in a platform-independent manner.

[2017-10-13 19:41] iology commented on #97
Different file systems have different result for creating files with arbitrary bytes. Some will keep any byte (except NUL and "/"). On MacOS's HFS+, invalid bytes are escaped like URI special chars, e.g. 0xE4 becomes `%E4`.

With Unicode support, the empty pattern "" or "^" and the likes can match all files, while "^.*$" or more complex ones may not.

I think it is fine to enable Unicode support f

[2017-10-13 19:50] iology commented on #97
The command for checking can be simplified to `find -not -name '*'` (GNU)

[2017-10-13 21:28] Doxterpepper commented on #107
How about making this a flag like `--tree`? That would allow the tree structure when wanted but then it will default to the original output by default. It's often easier to work with the default output when scripting.

[2017-10-13 21:32] iology commented on #107
Examples?

[2017-10-13 22:16] Doxterpepper commented on #107
Normally when I'm searching for a file I am intending to do something with it such as edit it with a text editor. If the output is like the original output it is easier to copy and paste into the next command, or to include it in a script to perform some action on each file. A crude example would be:
[code]
I think the tree output is great for humans to read, perhaps the tree output could be defau

[2017-10-13 22:33] iology commented on #107
@Doxterpepper I still don't see why you don't want "../dir1/file1" (instead of "file1"), while you still tolerate "../dir2/file3". And to copy/paste "file1" is just a double click.

NOTE: Your example use ".", not "..".

[2017-10-13 22:43] Doxterpepper commented on #107
I think I mis understood the description, I thought the suggestion was to include tree style output with ascii decorators and all.

[2017-10-13 22:49] Doxterpepper commented on #107
understanding the requirements better now, would anyone oppose me taking this on?

[2017-10-13 22:55] iology commented on #107
No problem, I haven't started on this one.

[2017-10-13 23:03] iology opened #111 "Allow dot "." to match newlines by default"
It may seems dangerous to include newlines in the output, though there is an option `-0, --print0` to help.

But even if the so called "dot-all" feature is disabled, we still can match those files with empty pattern "", `^`,  `[^/]*`, etc.

[2017-10-13 23:34] iology commented on #111
Oh, it is already the default.

[2017-10-13 23:35] iology commented on #111
Sorry, I must see something wrong. Reopened.

[2017-10-14 00:07] reima commented on #93
The bug is in the colored output (which I disabled in my examples). The problem is that the first `std::path::Component`s of an absolute path on Windows are `Prefix(_)` (the drive letter) and `RootDir` (root of the drive). The string value of `RootDir` is the path separator `\`. So the three consecutive path separators are:

* The path separator after the prefix
* The root dir
* The path separator

[2017-10-14 00:14] danielpclark commented on #106
Wow.  Can I hop in on this question and ask if that's a feature implemented from head's side or fd?  This intrigues me.  If it's fd where might I see the code that does that.

[2017-10-14 01:29] ofek commented on #93
@reima Great job bug hunting!

[2017-10-14 03:42] iology commented on #107
Ooops, while fixing #82, I inadvertently implement this feature. :P

[2017-10-14 08:38] matematikaadit commented on #76
I'm interested in submitting PR for this. Will try to working it out first in a fork and submit it later.

[2017-10-14 08:44] sharkdp commented on #76
Sounds great!

[2017-10-14 09:03] #103 closed

[2017-10-14 09:11] #93 closed

[2017-10-14 09:25] sharkdp commented on #111
I'm glad that I've never experienced a file with a newline in the name, but I think we should enable this, as you said. It's better to show these results in a potentially confusing way than to not show them at all.

Note that this feature can be enabled via `(?s)`:
[code]

This should be easy to implement via [`RegexBuilder::dot_matches_new_line`](https://doc.rust-lang.org/regex/regex/struct.Regex

[2017-10-14 09:30] sharkdp commented on #107
Sounds good :smile:. Would you like to open a PR for that?

[2017-10-14 09:33] iology commented on #82
It is impossible to know whether the current directory `.` is a symlink. So we cannot fix `fd -a`.

And for `fd "" "$PWD"`, we need a way to run shell scripts on both Windows and Linux.

[2017-10-14 09:44] iology commented on #107
Some superfluous slashes and dots in the output is giving me a headache, #112 only solves part of the problem. (Linux) I need to fix that first. 🤕

[2017-10-14 10:13] iology commented on #111
Ok, I included the patch in #96.

[2017-10-14 10:53] pickfire commented on #77
@sharkdp Here they are, I have both of them, I think it will be easier to work with the one that is easily understandable in this case. I will do a simple comparison of both of them.

### roff (troff)

- ancient general typesetting but still widely used
- simple and easy but looks kinda messy for me *sometimes*
- powerful (diagrams...) but man pages are here and there

[fd-roff.1](https://github.c

[2017-10-14 10:57] pickfire commented on #77
@sharkdp Here they are, I have both of them, I think it will be easier to work with the one that is easily understandable in this case. I will do a simple comparison of both of them.

### roff (troff)

- ancient general typesetting but still widely used
- simple and easy but looks kinda messy for me *sometimes*
- powerful (diagrams...) but man pages are here and there

[fd-roff.1](https://github.c

[2017-10-14 11:31] sharkdp commented on #77
@pickfire Thank you very much! mdoc looks cool, but is it fully supported on Linux?

I found this on [Wikipedia](https://en.wikipedia.org/wiki/Mandoc):

Also, if I open `fd-mdoc.1` with `man -l` on my system, it has this header:
[code]

[2017-10-14 13:30] mmstick commented on #84
I'll have a PR submitted later today, once I've documented and refactored what I've written so far.

[2017-10-14 14:12] #111 closed

[2017-10-14 16:45] mmstick commented on #105
I'll also add that I support the decision.

[2017-10-15 05:55] Detegr commented on #105
Absolutely.

## Contributor checkoff
If you agree to relicense, please leave the following comment to this issue:
[code]
- [x] @sharkdp
- [x] @mmstick
- [x] @Detegr
- [ ] @reima
- [ ] @iology
- [ ] @unsignedint
- [ ] @gsquire
- [ ] @jcpetkovich
- [ ] @olalonde
- [ ] @abaez
- [ ] @deg4uss3r
- [ ] @ImbaKnugel
- [ ] @exitium
- [ ] @wezm
- [ ] @michaelmior
- [ ] @sebasv

[2017-10-15 05:56] Detegr commented on #105
I think it's best to be explicit (even though I did check some checkboxes already), so here's mine:

I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 06:00] wezm commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 07:55] iology commented on #105
<details><summary>I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to choose either at their option.</summary>

[code]

</details>

[2017-10-15 08:06] sharkdp commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 09:03] sharkdp commented on #106
I'm going to close this, as it seems this can be solved by using `head` on Unix and `select` on Windows.

For the colored output on Windows, we should open a new ticket. In PowerShell, it works for me with a recent version of Windows 10 (see screenshot in #70).

[2017-10-15 09:03] #106 closed

[2017-10-15 11:21] reima commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 12:23] michaelmior commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 12:58] exitium commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 13:01] #82 closed

[2017-10-15 13:01] #107 closed

[2017-10-15 13:58] abaez commented on #105
I license past and future contributions under the dual MIT/Apache-2.0
license, allowing licensees to chose either at their option.

On Sun, Oct 15, 2017, at 01:55, Antti Keränen wrote:

Links:

   1. https://github.com/sharkdp
   2. https://github.com/mmstick
   3. https://github.com/detegr
   4. https://github.com/reima
   5. https://github.com/iology
   6. https://github.com/unsignedint
   7. ht

[2017-10-15 15:18] pickfire commented on #77
@sharkdp Yeah, it have that header. Just tell me which one you like (probably easier to maintain for you all), can I work on this as part of my hacktoberfest?

###### Note: Maybe I will find another task here as well.

[2017-10-15 16:18] TitiAlone commented on #73
Not much time for now, unfortunately, beacause of events I can't control...
Here's where I stopped, if someone wants to work on it before:

`
## Tutorial

First, to see all command line options, you can get `fd`'s help text by running:
[code]

`fd` can be called with no arguments, it'll then show the content of the actual directory
recursively (like `ls -R`):
[code]

If we work in a directory that

[2017-10-15 18:14] ilovezfs opened #121 "Shell completions OUT_DIR"
Setting OUT_DIR doesn't seem to have any effect on where the completions files are created. Am I doing something wrong?

[2017-10-15 18:35] mmstick commented on #87
I could implement this, if it's needed.

[2017-10-15 19:33] sharkdp commented on #121
My guess is that you are running something like `OUT_DIR=/tmp cargo build`. This doesn't work because cargo sets the `OUT_DIR` environment variable on its own.

[2017-10-15 19:36] #84 closed

[2017-10-15 19:50] ilovezfs commented on #121
@sharkdp ah OK. So how do we know what directory to find them in programmatically?

[2017-10-15 20:07] sharkdp commented on #77
Ok, if I have to choose, I'd go with *roff* for now.

Of course! Any progress on this (or any other task) would be greatly appreciated.

[2017-10-15 20:11] sharkdp commented on #121
Unfortunately, the name of the build directory has a name that is non-constant. It's something like
[code]
where the `1aca9d9a9b3c7e7e` part can change. In the appveyor script, I'm using this for deployment:
https://github.com/sharkdp/fd/blob/e0eab07881263108ce35f75b3507a21fb7aa19ad/appveyor.yml#L60

So using sth. like
[code]
should be fine on Unix systems.

[2017-10-15 20:17] ilovezfs commented on #121
@sharkdp the context for my question is this pull request: https://github.com/Homebrew/homebrew-core/pull/19237

The user is resorting to Pathname.glob to find them, which is basically the same as what you're suggesting, and which one of our maintainers is understandably balking at.

Would you be willing to move that logic into some sort of install script? It looks like FreeBSD even got this worki

[2017-10-15 20:31] sharkdp commented on #73
This is great, thank you very much. I've put this into a pull request (see #122) so others can review and improve it.

(if you would have rather liked to open a PR on your own, let me know)

No worries.

[2017-10-15 20:38] sharkdp commented on #87
It doesn't have the highest priority for me, but definitely "nice to have" :+1:.

I'm a little bit afraid that it might complicate the code and add even more OS-specific features, but maybe that's just me.

[2017-10-15 20:41] gsquire commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-15 20:56] sharkdp commented on #121
It seems like they are modifying the `build.rs` script :smile:.

I think we could simply add support for overwriting the output directory in the `build.rs` script.. possibly with a different environment variable?

[2017-10-15 22:43] unsignedint commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-16 00:10] Doxterpepper commented on #87
Has anyone been able to reproduce this reliably? I figure sending a SIGTERM while output is being displayed should reproduce it so I tried writing a [script](https://gist.github.com/Doxterpepper/3ff838bcf77268440d9e467a81a2bf86) to reproduce the error but so far no luck. Maybe someone else can get it to work for them.

[2017-10-16 05:47] olalonde commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

https://github.com/sharkdp/fd/commit/68a85c7e5b975399ef03214747b558f93eaef9e7 🤣

[2017-10-16 06:15] sharkdp commented on #87
@Doxterpepper Nice, thank you for looking into this. Have you tried running this with `--color always`? Otherwise, *fd* will not print any ANSI codes at all.

[2017-10-16 13:52] Doxterpepper commented on #87
oh, I know what's causing this precisely now. My script won't help, it's when you SIGTERM in the middle of printing ANSI escape codes used for the colorized output. If fd exits before a readable letter is written to the terminal then only the binary data is written and either gibberish is displayed or it will turn your prompt that color. Some terminals handle binary data poorly and that's why your

[2017-10-16 16:13] pickfire commented on #77
@sharkdp Anything that needs to improve over the existing? Like addon to examples or modify the options to suit `fd --help`?

[2017-10-16 16:26] ImbaKnugel commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-16 17:02] Doxterpepper commented on #89
Just a thought, a feature mentioned in the README is fd is 50% shorter than find, using `--exclude` over `--ignore-file` would be consistent with that.

[2017-10-16 18:10] Detegr commented on #89
I would prefer `--exclude`/`--include`, modifying text files for temporarily ignoring a certain directory seems a bit overkill. Ignore files are supported already, and this would just be a override (or addition) to that.

[2017-10-16 19:22] sharkdp commented on #77
The current one looks pretty great already. Would you like to open a pull request to add this?

I have a couple of comments (like the name of the executable in the synopsis :smiley:), but I think this can be better discussed in the pull request / review.

[2017-10-16 21:04] iology commented on #89
I think `--ignore <ignore_rule>` and `--ignore-file <ignore_file>` is better. A rule can include or exclude what should be ignored, so no need to have two different flags for `<ignore_fule>`.

[2017-10-17 03:23] Doxterpepper commented on #87
@mmstick , I don't want to step on any toes or anything but I have a simple fix for this if you don't mind me submitting a PR.

[2017-10-17 04:51] tmccombs commented on #89
I'm not picky about the name. But I do think it would be inconvenient to have to edit a temporary file to temporarily ignore files.

[2017-10-17 05:20] Detegr commented on #89
I agree that the rule/glob/whatever can specify whether the file should be included or excluded. What comes to the naming, I think `--glob` (and/or `--iglob`?) is a fine name to keep the cli similar than in `ripgrep`. This feature is basically the same, right?

I feel the discussion about `--ignore-file` should be in a separate issue as it is a different, though quite similar, feature.

[2017-10-17 06:11] #121 closed

[2017-10-17 06:12] sharkdp commented on #121
@ilovezfs The fix by @ImbaKnugel should be available for the next release.

[2017-10-17 06:12] ilovezfs commented on #121
Nice, thanks!

[2017-10-17 06:27] sharkdp commented on #89
Yes. I'm also in favor of keeping this in sync with ripgrep. Let's implement this as `--glob` (and possibly `--iglob`). We also add `--include`/`--exclude` as aliases for `--glob`/`--glob '!xxx'`.

Agreed. As you said, this is already supported to a certain extent (by creating a `~/.ignore` file, for example).

Yes. That is a bit unfortunate. #97 is a discussion / feature request to add `--glob` t

[2017-10-17 06:33] sharkdp commented on #87
Sounds good :smile:

[2017-10-17 06:48] iology commented on #89
@Detegr Yeah, #97 implement the (near) traditional globbing mode in posix shells. A different thing.

My first thought about `--include` was that it is used to add more regex patterns, not the gitignore pattern. I also have similar sense about `--exclude` and `--ignore`, but `--ignore` seems easier to remember.

About the case-sensitivity of this flag (of whatever name), I don't know if smart case

[2017-10-17 18:18] lukenels opened #127 "Add option to quote pattern"
To make it easy to to search for fixed pattern files, consider adding a flag such as `-q` or `--quote` to interpret the pattern as a literal string as opposed to a regex.

This way commands like `fd --quote 'test.c'` won't interpret the `.` as a regex wildcard.

[2017-10-17 21:13] sharkdp commented on #127
I think this is very similar to (or would be possible with) #97?

[2017-10-18 11:58] iology opened #129 "Colored output does not work on cmd.exe (Windows)"
Need another colorizer for Windows.

[2017-10-18 20:55] sharkdp commented on #129
This has been brought up a few times (see discussion in #29, for example). At the moment, I would like to avoid switching to termcolor because it does not support 256 or RGB colors (this is being worked on, though. See https://github.com/BurntSushi/ripgrep/pull/452).

I might be completely wrong on this, but it's unclear for me if there is a (significant) user base that (a) uses the command line o

[2017-10-18 21:45] iology commented on #129
A simpler solution is to detect color support and completely disable it on cmd.exe. (how to?)

[2017-10-19 00:01] matematikaadit opened #132 "Current setting in .travis.yml isn't using the TARGET env var for building the project"
So I've been pondering the current [`.travis.yml`](https://github.com/sharkdp/fd/blob/8d85debc12631d47274da8305e710723aae5dc74/.travis.yml) setting. It has multiple item in the build matrix with different TARGET env var. But there's no usage of the TARGET implied anywhere. Reading [the documentation on building rust project on travis-ci.org](https://docs.travis-ci.com/user/languages/rust/) also co

[2017-10-19 00:06] matematikaadit commented on #76
Sorry for the slow progress. I've been experimenting and figuring stuff out on building rust project on travis. And I think I found an issue regarding the current `.travis.yml` setting. Opening issue #132 and planning working on that first.

[2017-10-19 06:03] sharkdp commented on #132
Thank you very much for reporting this. And also... :flushed:

You are very welcome to submit a PR on this issue! Also, please work at your own pace (or rather, any pace you want).. there are no due dates or deadlines here :smile:

[2017-10-19 06:07] sharkdp commented on #129
Yes, that seems like a good option to me.

It might be easier to go the other way and generally disable colors on Windows and to enable them if support is detected. Maybe [this](https://docs.rs/clicolors-control/0.1.0/clicolors_control/) is related?

[2017-10-19 14:01] pickfire commented on #73
Is there some examples like:

    find . -perm /100

[2017-10-19 18:31] #127 closed

[2017-10-19 18:35] sharkdp commented on #105
@jcpetkovich @deg4uss3r @sebasv @pickfire Could you please (also) sign this (if you agree)?

[2017-10-19 18:40] #77 closed

[2017-10-19 18:50] jcpetkovich commented on #105
Sorry for the delay.

I license past and future contributions under the dual MIT/Apache-2.0
license, allowing licensees to chose either at their option.

On Oct 19, 2017 2:35 PM, "David Peter" <notifications@github.com> wrote:

[2017-10-19 19:02] sharkdp commented on #73
What do you mean, exactly? `-perm` is not supported by `fd`. But we have an `xargs` example in #122.

[2017-10-19 19:05] sharkdp opened #134 "Write integration tests for -x/--exec option"
We are still missing a few integration tests for the `-x`/`--exec` option.

The tests could be very simple at first. Like comparing the output of `fd -x echo ...` with the output `fd ...` (where the latter would be hard-coded in the test specification).

[2017-10-19 19:13] sharkdp opened #135 "Path should be escaped when running '-x cmd'"
This seems like a bug to me

[code]

@mmstick - I'm mentioning you here just in case you are interested. I'm not trying to assign this to you.

[2017-10-19 21:43] mmstick commented on #135
GNU Parallel also implements these flags for this use case -- quoting inputs. Not really a bug, but a convenience flag so you don't have to manually quote it yourself.

[2017-10-19 21:43] mmstick commented on #135
The `--quote` flag, that is

[2017-10-20 02:20] iology commented on #135
Why not quote it by default?

[2017-10-20 02:55] mmstick commented on #135
@iology You can have an input that provides multiple arguments. In that case, you don't want quoting to happen.

[2017-10-20 02:56] mmstick commented on #135
Although I guess when all of your inputs are files, it'd make sense to quote by default.

[2017-10-20 05:46] sebasv commented on #105
My apologies for the delayed response as well.

I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-20 06:23] sharkdp commented on #135
Yes, I also think so. The flag might be useful for `parallel`, but it shouldn't be needed here.

[2017-10-20 07:01] #132 closed

[2017-10-20 07:43] matematikaadit commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-20 13:19] matematikaadit opened #138 "The cause of `rustfmt: error while loading shared libraries: libsyntax-6f7d7e35b339f76f.so` on Travis CI"
The code formatting test on nightly fail with this error
https://travis-ci.org/sharkdp/fd/jobs/290400026#L602
[code]
The cause of those error is probably because the rustfmt binary being cached from the previous build, but the nightly's  libsyntax is already updated alongside the channel update.

## Solutions
We can chose one of these solution:
1. `--force` rustfmt-nightly reinstall on each build.

[2017-10-20 13:38] mmstick commented on #135
I'll have this fixed soon. Am going to look for a way of possibly optimizing my solution though. Best way to do this isn't to quote, exactly, but to escape special characters.

[2017-10-20 14:16] pickfire commented on #73
@sharkdp Shouldn`t `-perm` considered one of the most used features of `find`?

[2017-10-20 14:25] pickfire commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-20 14:30] mmstick commented on #135
Am going to convert that `paths` module into an `input` module that uses a state machine to generate input strings, only allocating as needed. Will ensure that the programmer doesn't forget to escape the input before using it, preventing a possible logic error.

[2017-10-20 22:29] #135 closed

[2017-10-20 22:33] #129 closed

[2017-10-20 22:41] sharkdp commented on #138
Thank you very much for looking into this. Which solution would you propose?

Does anyone have a feeling about how far "ahead" the nightly version of rustfmt is?

/CC @Detegr

[2017-10-20 22:55] deg4uss3r commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-21 04:17] iology opened #141 "--exec is too flexible"
ping #139 (buggy)

I haven't found out a good way to escape those LFs and control-characters (U+00-1F, U+7F) with traditional posix shell syntax.

Also it seems weird to use cmd.exe if people are used to PowerShell.

I prefer `--exec <program> [arg]...` without escaping.

[2017-10-21 05:40] iology commented on #141
Reopen if you are not satisfied with pull #142.

[2017-10-21 05:40] #141 closed

[2017-10-21 06:49] sharkdp commented on #105
@Detegr All done :smile:

[2017-10-21 08:05] Detegr commented on #105
Great, I'll prepare a PR. We're missing @goyox86 though (and a couple of others that are mainly README fixes, so I'm not sure if those are important). I'll prepare the PR anyway so we can merge it quickly before other contributors join the project 😄.

[2017-10-21 08:32] Detegr commented on #138
The nightly rustfmt is in `Allowed failures` section because I thought these kind of problems may occur. However, I thought the caching would work in a way that if the nightly compiler is updated, it would rebuild `rustfmt-nightly` as well.

I think we could go forward with either of those three options you listed. Although I think it is nice to have the nightly `rustfmt` as well, it's not a neces

[2017-10-21 10:36] matematikaadit commented on #138
Yeah. I think it's just a simple directory caching, which in this case is the `$HOME/.cargo` directory.

Since `$HOME/.cargo/bin` is in the `$PATH`, the snippet below will always return true and not reinstall the `rustfmt-nightly` after the first build:
[code]
Hence, it will always reuse the previous installed `rustfmt` binary even though it's outdated.

---

Below is the build using **cargo-updat

[2017-10-21 14:36] goyox86 commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-21 19:46] Detegr commented on #105
PR is ready, agreement @cassava and @mehandes (README changes for both of them) are missing.

@sharkdp I would suggest you won't merge any PR's before merging #143 unless the authors are aware of the ongoing relicensing effort.

[2017-10-21 19:54] Detegr commented on #138
Thanks for the detailed information, much appreciated!

Looks great, could you submit a PR for this?

[2017-10-22 08:38] #138 closed

[2017-10-22 09:10] #105 closed

[2017-10-22 11:51] SimenB commented on #4
I might be stupid now, but how do I ignore the `.git` directory with `--hidden` turned on?

Use case is `fd --hidden --type files` list all files.

Doing `fd -Ht files '!.git'` or `fd -Ht files '!\.git` results in zero output (that is, negating a pattern seems to have no effect)

[2017-10-22 19:59] #73 closed

[2017-10-23 10:47] cassava commented on #105
I license past and future contributions under the dual MIT/Apache-2.0 license, allowing licensees to chose either at their option.

[2017-10-25 16:27] #76 closed

[2017-10-25 20:22] #89 closed

[2017-10-25 20:23] sharkdp commented on #89
This is now supported (see #148)

[2017-10-25 21:21] #97 closed

[2017-10-26 18:57] sharkdp commented on #134
Closed via #142

[2017-10-26 18:57] #134 closed

[2017-10-28 06:58] rajeshduggal opened #153 "In cygwin, fd output displays backslash instead of forward slash"

[2017-10-28 17:16] sam0x17 opened #154 "fails to compile on Ubuntu 16.04"
Here is the verbose output:
[code]

[2017-10-28 18:02] eclipseo commented on #154
eprintln was added  in Rust 1.19.0.

According to https://packages.ubuntu.com/search?keywords=rust&searchon=names&suite=xenial-updates&section=all , Ubuntu 16.04 has only Rust version 1.17.

Either use Rustup (https://www.rustup.rs) or a PPA (https://launchpad.net/~jonathonf/+archive/ubuntu/rustlang) to install a more recent version of Rust.

[2017-10-28 20:45] sam0x17 commented on #154
thanks!

[2017-10-29 06:06] matematikaadit commented on #154
from README.md

[2017-10-30 17:39] reima opened #155 "--exec does not escape cmd.exe metacharacters (Windows)"
On Windows, `--exec` launches the command through `cmd.exe`. This works fine as long as the file names do not contain any of the metacharacters `(`, `)`, `%`, `!`, `^`, `"`, `<`, `>`, `&`, or `|`. These metacharacters are not escaped by `fd`. As a consequence, they are interpreted by `cmd.exe` with their special meaning.

This may even lead to unwanted processes being started by `fd`:
[code]
`reim

[2017-10-30 18:08] reima commented on #155
This makes we wonder why we take the detour with `cmd.exe`/`sh` at all. It incurs the runtime overhead of launching an additional process and it increases the implementation complexity.

On the other hand this enables features like shell output redirection without explicitly invoking a shell.

I'm not certain this is worth all of the trouble of multiple layers of escaping. `find` and `xargs` don't

[2017-10-31 01:27] alok opened #156 "Add `--ignore-file` flag"
Basically identical to `rg`'s same flag.

The benefit of this is that sometimes you don't want to ignore every gitignore file found in the search path, but you do want to specifically ignore some files, so this flag comes in handy. Also, if I'm searching from `~`, I don't expect the gitignore file several levels down in some project to get picked up by default.

[2017-10-31 12:14] mmstick commented on #155
The main reason for shelling out to a shell is because it's incredibly complex to properly parse shell syntax, and in doing so you will end up restricting yourself to whatever subset of shell functionality that your implementation supports.

Escaping currently only happens with a single line of code, so there aren't multiple layers -- just one.

https://github.com/sharkdp/fd/blob/614f576c47f2afaff

[2017-10-31 12:34] mmstick commented on #155
We should simply check for any bytes within the range of 0...42, 58...64, 91...96, and 123...127, and then escape them accordingly. On *nix systems, that's the `\` character, and with cmd on Windows it is the `^` character.

[2017-10-31 12:42] mmstick commented on #155
Something like:

[code]

[2017-10-31 13:18] niladam opened #157 "Allow for exact find"
First of all thank you for this. It's really fast and i'm already loving it!:)

I think `fd` should allow for exact find probably using some flag. A use case i can use to explain is when searching for `error_log` files.

Using `fd error_log` returns:

[code]

You can see how for example you can't use `xargs` to delete as you might delete files that are actually in use by something else.

Thanks.

[2017-10-31 14:21] mmstick commented on #155
Might help if you can try out #158 and see if that fixes your issues.

[2017-10-31 18:37] kevinlawler opened #159 "deterministic order - by default or by option flag"
I'm pretty sure I get a different ordering of results on occasion when I use the app in the regular manner versus when I pipe it to some other app. (I had a concrete example of this but lost it and now can't find.) This would be the case perhaps if you collected results in parallel but did not force a deterministic output except when gathering it to deliver to a pipe (or vice versa).

If this is t

[2017-11-01 08:27] #154 closed

[2017-11-01 11:45] reima commented on #155
I agree, implementing shell syntax would be crazy. But that's not what I was thinking about. I was thinking about dropping the intermediary shell and with it all support for shell redirection etc. inside the `--exec` argument.

Exactly. Currently there is only one layer of escaping. The second layer (cmd escaping) is missing—that's what this issue is about. See https://blogs.msdn.microsoft.com/twi

[2017-11-01 13:29] mmstick commented on #155
This would majorly limit the capabilities of what you can do with command executions. There are many things you can do beyond redirections that having an intermediary shell provides, such as executing multiple statements, conditionals, and shell expansions (such as process, brace, variable, array, etc. expansions).

So without the shell, you'd have to replicate these at some level, and that's effe

[2017-11-01 13:39] mmstick commented on #155
Best course of action may just be to drop `cmd.exe` support and use Powershell instead. Powershell allows you to escape spaces, along with all other characters, using their ` escape character.

[2017-11-01 14:04] mmstick commented on #155
@reima Try the latest commit, which is using `powershell -NoProfile -Command` instead of `cmd /C`.

[2017-11-01 18:31] sharkdp commented on #153
Hi, thank you for your feedback.

Could you please give a little bit more details (fd version, operating system, etc.)?

Why do you think *fd* should output `/` as directory separator instead of `\`? Isn't cygwin running on Windows?

[2017-11-01 19:37] sharkdp commented on #157
Thank you for the feedback!

Note that the search pattern in *fd* is always a regular expression, so in a situation like this, I just use:

[code]

What do you think?

[2017-11-01 20:07] sharkdp commented on #159
Thank you for the feedback.

That is entirely possible. The current situation is the following:

1. fd traverses directories in parallel (for performance reasons).
2. Due to parallelism, the output order is (in principle, see next point) non-deterministic.
3. To compensate for (2), fd internally buffers results for a short amount of time *T*. If the search finishes in a time faster than *T*, the b

[2017-11-01 20:17] sharkdp commented on #156
Thank you for the feedback.

If I understand correctly, `rg`s flag is used to specify an *additional* ignore file (with low precedence), so this doesn't solve the use case you descibed(?).

Have you seen `fd`s `--exclude` option? It allows you to directly ignore a certain pattern:
[code]
Would this work for you?

If you don't expect them to be picked up, you can use the `--no-ignore` option.

[2017-11-01 20:57] kevinlawler commented on #159
Consider this:

If you are spawning DFSearches `s1, s2, ..., sn`, then you can report the results of `s1...sj` so long as all searches strictly below `j` have finished returning. For the j-th item you can report intermediate progress as it happens. (This assumes your threads partition the space in some kind of natural non-interlocking way.)

`--threads 1` well that's no fun
`| sort` will always bl

[2017-11-01 22:12] Alok commented on #156
I think I may not have explained this clearly.

Say I have an ignore file at `~/.ignore` and another one at `~/(several levels down)/.gitignore`. My working directory is `~`.

If I run `fd --hidden --type directory .`, I expect the files in `~/.ignore` to be ignored, but not the ones in `~/(several levels down)/.gitignore`. But `fd` seems to pick up *every* ignore file in the tree rather than jus

[2017-11-01 22:24] reima commented on #155
That's something I don't see myself using a single command line for. Anything as complex as conditionals I would put into a script that is spawned by `--exec`. Which is of course still possible without an enforced intermediary shell. But I can see your point. It certainly can be convenient to be able to use shell features directly. It's just that it's not that important to me that I can embed shel

[2017-11-01 22:27] reima commented on #155
Escaping works just fine now. But the performance impact of spinning up a new PowerShell for each file is huge (times are in seconds, ~60 files per run, each command was run multiple times in different orders, and the numbers are representative samples):
[code]

Using `--exec` will of course always be more expensive, but with the previous commit (that still used cmd) the overhead is much lower:
[c

[2017-11-02 04:49] tmccombs commented on #156
This is actually the behaviour I expect. If I am in a git repository I would expect fd to behave similar to `git ls-files | grep`. Usually, if I don't want to include files that are ignored by .gitignore files in their repository.

As @sharkdp mentioned the --include-file option in rg doesn't behave the way you describe. It adds ignore rules _in addition to_ the ignore rules from .ignore and .giti

[2017-11-02 05:13] tmccombs commented on #155
I tend to agree that executing the command in a shell is unnecessary.

[2017-11-02 05:29] Alok commented on #156
I'm not in a git repo though. Hmm, I'll test something when I get in to
work tomorrow
On Wed, Nov 1, 2017 at 9:49 PM Thayne McCombs <notifications@github.com>
wrote:

--
- Alok

[2017-11-02 12:28] mmstick commented on #155
Am working on a the logic to enable execution without a shell. It's just rather complicated on the Linux side of things. Namely, you need to ensure that you write an argument splitter yourself, and must use a different set of rules for escaping inputs, so you're kind of re-inventing a basic shell.

[2017-11-02 13:45] rajeshduggal commented on #153
Most tools in cygwin output a / separator, but fd uses \ instead...
e.g..
$ uname -a
CYGWIN_NT-6.1 TDL00885482 2.9.0(0.318/5/3) 2017-09-12 10:18 x86_64 Cygwin
$ fd --version
fd 4.0.0
$ ls -1 dax/*
dax/oswald.txt
$ tree -if dax
dax
dax/oswald.txt
0 directories, 1 files
$ find ./dax
./dax
./dax/oswald.txt
$ fd '.*txt' ./dax
dax\oswald.txt

[2017-11-02 22:44] tmccombs commented on #153
was fd compiled with cygwin, or as a windows binary?

[2017-11-02 23:11] Alok commented on #156
My bad, its behavior is identical to `rg`. I still think the option to explicitly pass a set of ignore files and to only use those files for ignore patterns isn't a bad one, but I understand that's something extra.

[2017-11-03 00:58] reima commented on #155
@mmstick I've created PR #160 with my WIP version of removing the shell entirely. I decided to use the same syntax as find/xargs/parallel etc. and allow multiple arguments for the `--exec` command. These are then exactly the arguments that are being passed to the called process, thus eliminating the need for manual argument splitting. E.g. instead of `fd --exec "ls -l {}"` you would simply use `fd

[2017-11-06 19:19] rajeshduggal commented on #153
https://github.com/sharkdp/fd/releases/download/v5.0.0/fd-v5.0.0-x86_64-pc-windows-gnu.zip

So I guess it's understandable that it's output shows windows backslash convention.
(fyi. There's an interesting discussion thread on a similar cygwin path issue for a different project here.. https://github.com/BurntSushi/ripgrep/issues/269 )

[2017-11-07 05:18] code-spring opened #161 "How to use fd with WisdomTool REST Client?"
[WisdomTool REST Client ](https://github.com/wisdomtool/rest-client)supports automated testing RESTful API and automatically generating RESTful API documentation.

Do not know how to use fd with [WisdomTool REST Client](https://github.com/wisdomtool/rest-client)?

[2017-11-08 21:43] sharkdp commented on #155
@reima @mmstick Sorry for the late reply. Thank you both for looking into this and for your contributions.

I believe I also agree with this. An additional shell layer would be nice to have in terms of functionality, but dropping it will speed things up and also dramatically simplify the involved logic concerning quoting. I'm afraid that we would keep running into similar issues as reported in thi

[2017-11-08 21:54] sharkdp commented on #153
We could potentially change this, but I'm not sure if `/` would always be preferable over `\`. Do all tools on Windows support `/`? Is there any drawback from using `\` or is this more of an aesthetic thing?

It says `fd v4.0.0` in your output but you downloaded v5.0.0? Could you please make sure that you are on the latest verstion? There have been a few changes to path handling (on Windows) in 5.

[2017-11-08 22:15] Doxterpepper commented on #153
I was actually curious about this. When compiled on windows fd will always replace forward slashes with back slashes. Doesn't PathBuf already format the slashes depending on the platform?

[2017-11-08 23:36] Doxterpepper commented on #153
@sharkdp, it looks like fd is using `Path::from` which will convert the path to the platform specific convention. We could maybe figure out a way to determine if we're running from cygwin when we print to the console and then change the back slashes to forward slashes then.

As a side note from what I can tell `let path = path.replace('/', "\\")` is unnecessary because of PathBuf.

[2017-11-09 09:04] redguardtoo opened #162 "failed to install fd through cargo"
Here is the error message I got from `cargo`
[code]

[2017-11-09 11:42] sharkdp commented on #162
Please note that Rust 1.19 is required: https://github.com/sharkdp/fd#install

[2017-11-09 11:42] #162 closed

[2017-11-09 21:59] matematikaadit commented on #157
for comparison, ripgrep has `-F` or `--fixed-strings` flag to treat the pattern as a literal string instead of regular expression. When this flag is used, the special regular expression meta characters such as `(){}*+.` do not need to be escaped.

[2017-11-10 11:27] rlue commented on #156
I'd like to chime in in support of a command line option like this. `ag` and `rg` both honor _both_ `.gitignore` and a separate `.ignore` file.

I'm currently using fzf to quick-find files in vim, supported by `rg --files` as my `DEFAULT_FZF_COMMAND`. Naturally, I have ripgrep set up to ignore all kinds of binary files (like images) that I would never want to open in vim, but which don't belong in

[2017-11-10 14:56] rajeshduggal commented on #153
I was running fd v4.0.0 and then noticed there was a newer version and so I installed that.. hence the discrepancy.

I don't have rust installed.. anyone know if it returns \  or / if it's being run on cygwin verses dos prompt?
https://doc.rust-lang.org/std/path/constant.MAIN_SEPARATOR.html

[2017-11-10 19:02] flip111 commented on #162
https://stackoverflow.com/a/36607492/1833322

[2017-11-10 19:06] sharkdp commented on #162
@flip111 Oh cool, thank you very much!

[2017-11-10 19:10] sharkdp opened #164 "Check Rust version in build.rs"
We receive a lot of tickets like this (#162) due to outdated versions of the Rust compiler. Presumably, there are even more people that try to build *fd* and abandon the project as soon as they see a compile error (without creating a ticket).

Apparently, there is a way to check the compiler version in `build.rs`, as suggested by @flip111. For details, see [this stackoverflow answer](https://stack

[2017-11-10 19:33] sharkdp commented on #157
Agreed, `-F`/`--fixed-strings` sounds like a useful addition.

Concerning `--glob`: @iology implemented a version of this in his fork here: https://github.com/jakwings/ff-find

[2017-11-10 20:18] sharkdp commented on #159
Thank you for your suggestion.

Correct me if I'm mistaken, but I don't think that this will help a lot.

Let's say it takes a time *T* to walk the whole search space sequentially. If we parallelize the search across *n* threads, each of these small searches will (on average) take the same time *t*. Ideally, we would have *t = T/n*, but in practice we will have *t > T/n* of course. Since we will n

[2017-11-10 20:28] sharkdp commented on #156
*fd* does that, too.

Okay, so you would really like to have the `--ignore-file` flag of ripgrep (with the exact same semantics)? In this case, let's re-open this.

[2017-11-10 22:23] niladam commented on #157
I think your option is clever enough. However, while i had to open an issue for this (after reading the help and other issues) i wonder if this won't happen in the future. While providing a new flag to use this might seem a little more work -- i think in the long run it'll just be more easier to use and discover this..

[2017-11-11 00:39] rlue commented on #156
So it does! My mistake. I think the bigger issue then is simply that it's not mentioned in the man page or the README.

Thanks; it'd definitely be nice to be able to rely on predefined ignore files to specify large sets of non-default ignore patterns.

[2017-11-11 01:34] matematikaadit commented on #164
I'm interested in this.

[2017-11-11 07:12] rlue commented on #156
After some more experimentation, it appears that `fd` also honors `.rgignore` by default (but not `.agignore` or `.fdignore`).

IMHO it would be saner to honor `.gitignore` and `.ignore` only, and leave `.<xx>ignore` files to apply to their respective utilities. If I want my `rgignore` rules to apply to `fd`, I'll either put them in `.ignore` or hardlink one to the other.

On a separate note, the

[2017-11-11 08:46] sharkdp commented on #156
This is due to our usage of the `ignore` crate, that is also used by ripgrep. This crate has both `.ignore` and `.rgignore` hardcoded:

https://github.com/BurntSushi/ripgrep/blob/c4e194538472de2cd74664a9a016b9c25c0e800b/ignore/src/dir.rs#L213

However, if my research is correct, the `.rgignore` files (as well as the `.agignore` files for *ag*) are deprecated and were superseded by `.ignore`. So `.

[2017-11-11 14:56] rlue commented on #156
Yep, [this is definitely true](https://github.com/BurntSushi/ripgrep/issues/196#issuecomment-256695151). From @burntsushi himself:

---

I can't say to a certainty what `.ignore` is for. AFAIK, it's a new convention that has been established by _ag_ and _rg._ In my opinion, it's not a very good one — there are many programs that can be configured with ignorefiles: not just _rg,_ _ag,_ and _fd,_ bu

[2017-11-11 15:19] BurntSushi commented on #156
I'd just like to chime in and say that I'd support simple changes to the `ignore` crate to iron out this UX, if y'all so choose.

[2017-11-11 17:16] guihkx opened #165 "Search based on file timestamps (atime, ctime, mtime)"
`find` has this very useful feature that I use often, which is timestamp-based file search. You're probably familiar with it already, but here's the documentation for those flags:

[code]

What do you think? Thank you.

[2017-11-12 05:30] iology commented on #157
About the pros and cons of a glob pattern compared to a fixed string: The special chars `* ? { } \` in glob patterns are seldom used in pathnames (except `[ ]`). Other than this glob patterns are more powerful than fixed strings while still safer to use than regex patterns.

One biggest problem of *fd* and my *ff* is that it does not warn users about the magic of regex. (I'll suggest people to use

[2017-11-12 08:50] sharkdp commented on #165
Sounds good. Do we need all three? I would guess that `-mtime` is used most of the time? Also, not all of them will be available cross-platform.w

[2017-11-12 14:54] sharkdp commented on #156
Agreed. Let's change this. So there are a few action points here:

- [ ] Disable support for `.ignore` and `.rgignore`. I believe we simply have to remove the `.ignore(..)` call on the `WalkBuilder`. We should also carefully review the other options in `WalkBuilder`.
- [ ] Add support for `.fdignore`. I think we should copy the behavior of ripgrep here (just with `.fdignore` instead of `.ignore`).

[2017-11-12 15:44] rfourquet commented on #5
Would be useful to allow specifying mutliple search path roots, i.e. `fd [pattern] [path [path ...]]`.
PS: thanks for this tool, this allows me to get rid of my much less powerful python script for similar tasks. It also steals the name of another of my programs which Finds Dupes (a glorified fdupes), but that's fine, that last one is not needed nearly as often so I can rename it to a longer name!

[2017-11-12 15:59] sharkdp commented on #5
Sounds good! Could you please open a new ticket for this?

[2017-11-12 16:34] GUiHKX commented on #165
I just use `-mtime` as well, but I suggested all of them just in case. :+1:

[2017-11-12 16:35] rfourquet opened #166 "feature request: allow specifying multiple search paths"
I.e. `fd [pattern] [path [path ...]]`. I don't foresee a need to specify a 3rd argument to `fd` which would not be a search path, so allowing multiple paths seems harmless and useful. Also, by compatibility with `find`, would there be a problem to not error if the provided paths are files (i.e. not directories)?

[2017-11-12 16:36] rfourquet commented on #5
Sure! cf. #166. I unfortunately don't know (yet) rust to provide a fix myself.

[2017-11-13 13:15] rfourquet commented on #166
For example, here is my today's use case: I'm looking for the presence of a certain .so library file in  the dropbox versions present on my nixos system; I would like to simply do:
 `fd libGL.so.1 /nix/store/*dropbox*`.
In particular it would be useful that the files in the paths list (expanded from `*dropbox*`) do not generate errors.

[2017-11-13 18:27] #164 closed

[2017-11-13 20:16] sharkdp opened #168 "Include instructions on setting up fzf with fd"
`fzf` mentions `fd` throughout their [`README`](https://github.com/junegunn/fzf#environment-variables) :smile: :sparkles:

We should either add a link to fzf and their `README` or add a little section on how to set up fzf with fd. See also this tutorial: https://mike.place/2017/fzf-fd/

[2017-11-15 07:59] mirosval opened #170 "Directories named `target` not showing up in results"
When I search for paths that contain `target` in them they don't show up:
[code]

Searching for `target`
[code]

There is nothing unusual about the directories as far as I can see. I'm on macOS High Sierra (10.13.1 (17B48)), but I experienced the same behavior on the most up to date macOS Sierra as well.

[2017-11-15 16:52] tmccombs commented on #170
Do you have a .gitignore file that excludes directories named target?

[2017-11-15 16:55] mirosval commented on #170
aaah I completely missed that one. Sorry! I love fd!

[2017-11-15 16:55] #170 closed

[2017-11-16 11:45] for-coursera commented on #166
Second that request. Passing a listing from several directories to `fzf` would be extremely handy. `ripgrep` already manages that, but `fd` is faster, isn't it? :)

[2017-11-18 18:42] sharkdp commented on #155
closed via #160.

[2017-11-18 18:42] #155 closed

[2017-11-19 19:01] ptzz commented on #156
Currently the fd man page says
[code]
This option appears to ignore also the `.rgignore` file.

It would be useful to separate these and include an option `--no-ignore-vcs` similar to `ripgrep`.

One use-case is e.g. when other git repos are embedded inside another git repo and the embedded repos are being "git ignored" by the top-level repo. For this case it's useful to ignore all `.gitignore` fi

[2017-11-20 19:33] sharkdp opened #174 "fd package for Ubuntu"
It would be great if we had an easy way to install *fd* on Ubuntu (or maybe even provide a package for all Debian-based distributions?).

I'm not familiar with creating own `.deb` packages and the ecosystem around PPAs, so any help would be greatly appreciated!

[2017-11-20 20:04] sharkdp commented on #153
It looks like it's hard-coded for the different operating systems:

https://github.com/rust-lang/rust/blob/94ede93467beb4ac17956845607a7e8b226dda02/src/libstd/sys/windows/path.rs#L106

https://github.com/rust-lang/rust/blob/144af3e97aa30feba3d36a98ac04c0f1b2bc0bea/src/libstd/sys/unix/path.rs#L29

If I may, I'd like to repeat my question from above:

[2017-11-21 00:49] danielpclark commented on #174
`.deb` packages are very involved.  Ubuntu supports a much easier to make lightweight package installation through [snap](https://docs.snapcraft.io/build-snaps/).

[2017-11-22 06:16] tmccombs commented on #174
I could help out with this

[2017-11-22 07:00] sharkdp commented on #174
@danielpclark Never heard of snap, but if that's something that's easily available (also on older Ubuntu versions?), that might be an alternative option.

@tmccombs Sounds great!

[2017-11-22 09:43] rlue opened #177 "Improve filtering by filetype (exclude a filetype, or allow multiple filetypes to be specified)"
Currently, `fd` offers the `-t` command line option to view only files of a single type (regular files, directories, symbolic links).

However, there is no way (that I can see) to view all files _except_ those of a single type (in other words, to exclude a given filetype from the results). Perhaps a syntax like `+td` or `-Td` to exclude directories, or `-tfl` to do the same?

Hopefully, I've misse

[2017-11-22 10:46] ghuls commented on #153
@Doxterpepper Without Cygwin path translation, your patch might complicate things.

fd will not be able to use Cygwin only paths like `/cygdrive` and `/home` while now it might look to the end user that this is the case now, also `fd '*.txt' C:\` will use forward slashes, now, which would be strange to me.

[2017-11-22 22:05] #87 closed

[2017-11-22 22:44] sharkdp commented on #177
Thank you very much for your feedback.

Unfortunately - no. However, consider the following:

[code]

* We can search for `dir` only (`-td`)
* We can search for `file only (`-tf`)
* We can search for both symlinks (`-tl`)
* We can also search for `dir` and `symlink_to_dir` (`-L -td`)
* as well as for `file` and `symlink_to_file` (`-L -tf`)

What is missing is:
1. search for `dir` and both symlinks

[2017-11-23 14:54] Doxterpepper commented on #153
@ghuls, Cygwin does not accept the `C:\ ` syntax anyway so that's not an issue. The only way to search `C:\` in cygwin is to use `/cygdrive`. Also I think in either case users may think /cygdrive is a usable path, I don't think just printing the correct slashes for the environment is going to change the users perceptions on what directories are usable and what directories are not.

[2017-11-23 16:56] Doxterpepper commented on #153
@sharkfd, Cygwin is supposed to be a posix compliment environment so the forward slashes are always going to be preferred in any application running in Cygwin. Our options are to either not do anything and let the user handle it with cygpath or something else, or to check for a environment variable such as HOME which is normally only defined in a Unix like environment to determine if we should use

[2017-11-25 07:24] aeosynth opened #178 "hang with exec"
[code]

attempting to remove a write-protected file hangs

[2017-11-25 15:36] sharkdp commented on #178
Thank you for reporting this.

I believe this is due to `rm` waiting for input:
[code]

Indeed, if you enter `y`, *fd* terminates:
[code]

Still, this is a bug because *fd* doesn't show the output of `rm`.

[2017-11-26 20:16] Doxterpepper commented on #166
@sharkdp, mind if I take this on?

[2017-11-26 20:24] sharkdp commented on #166
@Doxterpepper That'd be great!

[2017-11-26 21:40] ptzz commented on #156
Add support for .fdignore. I think we should copy the behavior of ripgrep here (just with .fdignore instead of .ignore).

I gave this a try but I think it's hard to get right without modifying the hardcoded `.ignore` and `.rgignore`names in the ignore crate.

My attempt was to add `.fdignore` as an explicit ignore using `add_ignore()`, and disabling `.ignore/.rgignore` using `ignore(false)`. That

[2017-11-27 07:15] ChengCat opened #179 "Disable .gitignore and .fdignore by default"
These ignoring rules are useful when you know about them, but could be surprising if `fd` is used as a simple tool to replace `find`, especially for a new user.

BTW, I agree with removing `.ignore` and `.rgignore`, and adding `.fdignore`.

[2017-11-27 07:32] ChengCat opened #180 "Follow symlinks by default"
Not following symlinks by default introduces the pitfall that we may fail to consider about symlinks, which are not often used. I have actually fallen into this pitfall several days earlier. I understand that the traditional alternative `find` also does not follow symlinks by default, but IMO we should provide a saner default nonetheless.

[2017-11-27 09:06] ChengCat commented on #159
A solution could be dividing the whole work into M chunks (could be more than N) with each chunk to be sufficiently small, and these chunks are assigned to the N threads in a sequential manner. Although looking difficult, there could an adaptive algorithm to do this.

[2017-11-27 09:26] ChengCat commented on #159
What about the following algorithm?

1. Suppose the whole directory is small enough, and divide it into N chunks. Schedule each chunk to be processed by a thread.
2. When 100ms has passed, if all threads finished, we are done. Otherwise, we choose the first thread that is not finished. We pause the other unfinished threads, and recursively apply the same algorithm to the remaining work of the firs

[2017-11-27 09:36] ChengCat commented on #178
`rm` is waiting for inputs from stdin. We could resolve this issue, if stdin is closed before executing `rm`.

[2017-11-27 09:59] ChengCat commented on #166
I'm not sure whether this is a good idea. If `/nix/store/*dropbox*` expands to an empty string, you could be surprised, as fd will be searching inside the current directory. One could assume `fd pattern (empty path list)` to mean no path searched, but it contradicts with the current design.

BTW, NixOS use symlinks extensively, so you might need `-F` sometimes. (#180)

[2017-11-27 10:07] ChengCat commented on #157
I don't think searching for a fixed string is worth adding an extra option here. It is easier to memorize that fd always search by regex, and that ^xxx$ means an exact string in regex, than to memorize an extra option.

[2017-11-27 10:18] rfourquet commented on #166
This is probably a matter of pragmatism.

You are right, but I needed this on the command line, after knowing that the expansion is not empty. Then the alternative I had to resort to was no better in this respect (I don't remember if I used `find` directly, or `fd` with a loop over). `fd` with multiple paths would simply have been more convenient.

[2017-11-27 10:55] ChengCat commented on #165
I agree with adding support for only file modification time. And I think a more powerful syntax for describing the time duration may help, e.g. 20min, 1h, 5d. Time moment is helpful too, but that could be too ambiguous.

[2017-11-27 11:17] ChengCat commented on #166
This is a matter of design, and the intention is to reduce potential surprises or pitfalls. It is especially important for a tool intended to replace a fundamental utility like `find`. I understand that it is convenient for this particular use case, but you probably agree that, every time you write `fd pattern pathWith*` in a shell script, you need to consider that `pathWith*` could possibly expan

[2017-11-27 13:25] ChengCat commented on #18
Sorry, but I am expecting `fd` to be a system utility. I get this expectation from the description "A simple, fast and user-friendly alternative to find". If you intend this tool to be used interactively only, maybe you should make it more clear.

[2017-11-27 16:05] Doxterpepper commented on #166
@ChengCat, I don't think "expanding to an empty string" is a thing. I'm pretty sure wildcards are handled by your shell and give an "Error: *foo* is not a directory."

[2017-11-27 18:48] Doxterpepper commented on #159
Since we are not doing the parallelism ourselves but are using the Ignore crate to handle it our hands may be relatively tied. The walker will create n worker threads and each worker will pull the directory that it will work on from the queue. The order of directory traversal is non-deterministic like @sharkdp said, and the only way it looks like we can fix that is by processing the data somehow b

[2017-11-27 22:07] matematikaadit commented on #157
Just to clarify, **fixed string** in this context isn't equal to **exact find**. Fixed string just means a regular searching without treating regex meta character as special.

[2017-11-27 22:47] sharkdp commented on #166
@Doxterpepper exactly. The shell will either immediately thrown an error:
[code]

or just leave the wildcard as is:
[code]

In the second case, we are also fine since 'drop*' does not exist as a directory, so *fd* will throw an error.

[2017-11-27 22:58] sharkdp commented on #18
@ChengCat If you see a potential problem with the current situation, please feel free to open a new ticket. In my view, there is no reason *not* to use `fd` as a system utility.

[2017-11-28 00:15] BurntSushi commented on #156
@ptzz Please see the latter half of this comment: https://github.com/BurntSushi/ripgrep/issues/673#issuecomment-343673015

TL;DR - While I agree that making `IG_NAMES` configurable is the shortest path to your destination, I would actually like to keep `.ignore` as a standard name used by the `ignore` crate. If we stick to that, then I think the way to solve your problem is to add an additional la

[2017-11-28 02:15] ChengCat commented on #166
I confirm that my fish also throws out an error.

I didn't know about this, thanks for pointing this out.

[2017-11-28 02:52] ChengCat commented on #159
I understand that it may be difficult to implement, but this could be a useful idea for future reference.

[2017-11-28 03:00] ChengCat commented on #157
Thanks for the clarification.

However, do we actually use `(){}*` in file names? The only useful character is `.`.

This flag is more useful for ripgrep, since it searches file contents, rather than file names.

[2017-11-28 09:49] ghuls commented on #157
At least `()` is used quite often. For example if you download and save a file with the same filename in Firefox, you get:
[code]

[2017-11-28 12:37] BurntSushi commented on #156
If that's true that sounds like a bug to me.

On Nov 28, 2017 2:00 AM, "ptzz" <notifications@github.com> wrote:

[2017-11-28 14:24] ghuls commented on #180
Following symlinks by default naively might be not a great idea.
If a symlink points to a parent (or ... grand parent) directory, you might end up with endless recursion.
So if symlinks were followed by default, it probably should be restricted to symlinks that point directly to files only.

[2017-11-28 19:19] sharkdp commented on #180
This is actually not possible. The ignore crate detects cycles:
[code]

[2017-11-30 22:19] sharkdp commented on #179
:-1: from me. I agree that it might be surprising if you don't know about it, but *fd* is not trying to be 100% compatible with `find`. I still believe that respecting `.gitignore` is the right default, even if I sometimes use `-I`/`--no-ignore`. In particular, I love to use a plain `fd` in the root of a git repository to get an overview of all files.

Also, I think it's easy enough for everyone t

[2017-11-30 22:21] sharkdp opened #183 "Fix build on Travis CI"
Something seems wrong with the Travis CI build in one particular setting. I tried resetting the caches, but that didn't help.

@matematikaadit Do you have any idea what's causing this?

[2017-12-01 02:00] ChengCat commented on #179
I believe we should make the general use case (i.e. searching general files) as the default. It is easy enough to add an option for source code searches.
I am expecting this to be a system utility, the above reasoning does not hold if you intend this to be a development tool.

[2017-12-01 02:29] Doxterpepper commented on #183
For some reason it seems to be installing and updating rustfmt but then cargo isn't aware that rustfmt is installed, could it be a path thing?

[2017-12-01 06:05] matematikaadit commented on #183
I assume it's this build
https://travis-ci.org/sharkdp/fd/jobs/309758165#L619

In particular, the output of `cargo install-update` is quite strange
[code]

Compared to the [previous successful build](https://travis-ci.org/sharkdp/fd/jobs/306043483):
[code]

The failed one has no mention of rustfmt package in it's output.

Currently investigaging...

[2017-12-01 06:15] tmccombs commented on #179
My impression is that the purpose of fd is primarily as a more user-friendly version of find for interactive use, not a drop in replacement for find in all cases (correct me if I'm wrong @sharkdp).

fd is to find as ripgrep (or ag) is to grep. And by default ripgrep respects .gitignore, .ignore, and .rgignore.

[2017-12-01 15:49] sharkdp commented on #179
@ChengCat

Regarding the "general user":

* If the user is not a developer, I don't expect there to be any Git repositories with ignore files in the search path, so there shouldn't be any confusion.
* If the user is a developer and has Git repositories in the search path, I expect the ignore-by-default option to be the right choice in almost all cases. Agreed, there *are* cases where you want `--n

[2017-12-02 22:19] Doxterpepper commented on #183
I think I figured it out, for some reason cargo-update needs the -i flag to install the package that is not currently installed. Otherwise it just wants to update the package but since it's not installed it cant update it, so nothing happens.

[2017-12-03 21:10] spk commented on #183
I think this can be closed thanks to https://github.com/sharkdp/fd/pull/185

[2017-12-04 02:03] #183 closed

[2017-12-04 02:05] ChengCat commented on #179
@sharkdp

Please note that I said "general use case" rather than "general user". By general use case, I mean searching any files in the file system, whether it's code or not. The current default behavior is essentially searching only source code files. This seemingly tiny difference could tell whether this is a general utility, or a software development utility.

The chance that `fd` get misused b

[2017-12-05 09:33] dtcyganok opened #188 "Posibility to perform search with path and without pattern"
If i want to quick overview any directory without changing current directory `find` allows this:

[code]

Are there any alternatives with `fd`?

[2017-12-05 09:35] dtcyganok opened #189 "Better integration with zsh"
Currently autocomplete by `Tab` for `[<path>]` argument does not works.

[2017-12-05 10:29] dtcyganok opened #190 "New search options"
* owner
* group
* permissions
* time
* file attributes (immutable, undeletable, and etc)

[2017-12-05 15:44] dtcyganok opened #191 "Without pattern 'find' ~8x faster than 'fd'"
OS: Linux 4.14.3-1-ARCH
FS: ext4
fd: 6.0.0

Simple test:
[code]

Also `fd` with pattern faster ~8x than `fd` without pattern:
[code]

[2017-12-05 16:39] alaymari commented on #191
Installed fd and tried it on my camera folder. The results are here:

`find . -iname '*.jpg'  0.08s user 0.06s system 66% cpu 0.210 total`

`fd '.*\.jpg$' .  0.41s user 0.16s system 95% cpu 0.602 total`

The time taken and cpu usage are very high contrary to the expectation.

[2017-12-05 20:12] sharkdp commented on #188
Yes, but for now you have to use one of the following
[code]

Basically, you have to provide a pattern that matches everything.

[2017-12-05 20:14] sharkdp commented on #191
Interesting, thank you for reporting this.

How many entries are found (without the search pattern)?

Also, how many cores does your machine have?

[2017-12-05 20:53] dtcyganok commented on #191
Directory size: 27G
Count of entries: 35809
Count of cores: 4

[2017-12-05 21:37] iology commented on #159
Even `| sort` needs to get the last input to decide the first line to print. So what a parallel algorithm can optimize is to do more (meaningful) sorting while waiting for more input.

[2017-12-05 21:55] iology commented on #159
Further, the directory traversal order does help to determine what can be printed before the rest are sorted. `| sort` cannot acquire this information.

[2017-12-05 22:38] Doxterpepper commented on #159
@sharkdp I went back and reread the code for the Ignore package and that buffer I spoke about in my last comment is filled with paths that come from either the initial constructor of Waker or from the `.add` method. That means that when more than one thread is specified but only one path is provided then only one thread will actually search that path and the rest are unused. That means the buffer

[2017-12-06 00:43] alaymari commented on #191
Machine details:
[code]
Directory size: 261 GiB
Number of files:
[code]
Even the numbers reported are different.
There is a difference reported

[2017-12-06 04:29] sharkdp commented on #191
@dtcyganok Thanks. Are you using the *fd* version from the official Arch repositories? Or did you build it yourself?

@alaymari

Please make sure to run `fd` with the `-I` and `-H` options. Otherwise you can not expect the results to be the same. Also, just as a remark, you can use `fd -e jpg` to perform searches for a particular file extension. So you could try:
[code]

[2017-12-06 04:55] sharkdp commented on #159
No. Notice that workers will constantly push to the shared queue while traversing their current directory:

https://github.com/BurntSushi/ripgrep/blob/d73a75d6cd82068252c35c5718900b6a1acb296e/ignore/src/walk.rs#L1179-L1182

[2017-12-06 06:08] Doxterpepper commented on #159
You're right the workers push directories back to the queue but when only one directory is given there can only be a maximum of one item on the queue at a time.

1. Once the first worker thread pop's the directory off the queue all other threads wait for work
2. The code section you linked in `run_one` pushes at most one item back onto the queue
3. One item on the queue get's pop'd off the queue b

[2017-12-06 08:41] dtcyganok commented on #191
I am using the `fd` from the official Arch repositories

[2017-12-06 12:30] alaymari commented on #191
@sharkdp
[code]
No change :-) This is just FYI.

Hope you will be coming out with a solution for this problem soon.

[2017-12-06 14:39] Doxterpepper commented on #159
My hunch is that with the right data and processor the computation time teeters on the max buffer time and when output is piped, making run time a bit shorter, the data is sorted and when printed to the screen then it takes a bit longer and output is not sorted.

[2017-12-08 11:28] laerus opened #192 "Getting incorrect results when using `-p, --full-path` option"
on current master 51aea57a6a13399d30d6883debc438498d012da4

this seems to be an issue when the current working directory and another directory in the tree
have the same name

[code]

[2017-12-08 20:56] rajeshduggal commented on #153
IMHO, (Selfishly) I like the idea of having fd being a direct drop-in replacement for find.  So by default it should mimic cygwin's find output.

[2017-12-08 21:01] danielpclark commented on #153
For the record Windows officially supports forward slash.

[2017-12-09 04:49] sharkdp commented on #192
What do you think would be the expected output? I don't see the problem.

The `-p` option instructs *fd* to match the pattern against the full (absolute) path. If your current working directory is called `/home/kon/test-fd/projectname`, then all those paths will have `projectname/` in them - and therefore, they should all match.

[2017-12-09 08:13] tmccombs commented on #192
Maybe `-p` should imply `-a`, so that the match will always be in the printed result.

[2017-12-10 00:39] Alok opened #194 "Request: update release"
This is really more a personal request, but I'm a bit limited at the moment.

I'd like the latest build of `fd`, which has the handy flag `--no-ignore-vcs`, to be added to the releases page so I can download the static binary onto a server I have to do work on. I don't have a rust toolchain set up on my local computer (running macOS) to cross-compile for Ubuntu 16.04.

Please and thank you.

[2017-12-10 05:10] #178 closed

[2017-12-10 05:49] sharkdp commented on #166
Closed via #182

[2017-12-10 05:49] #166 closed

[2017-12-10 05:50] Doxterpepper commented on #159
@sharkdp, Okay I concede threads don't just push the current directory they are working on onto the queue they push the contents of the directory so if a thread has a directory with n items in it n items will be pushed to the queue for other workers to work on

Disregard my previous comments 😛

[2017-12-10 05:53] sharkdp commented on #190
Thank you for your feedback.

A collection of keywords like this is not going to be very useful if we are considering to implement this. As far as I understand, this request overlaps with (at least) #165 and #177. Please comment in the respective tickets or open new tickets for specific features which you would like to see in *fd*. If possible, these feature requests should come with a description

[2017-12-10 05:53] #190 closed

[2017-12-10 05:55] sharkdp commented on #159
@Doxterpepper Sorry for the late reply

Yes, that's what I also thought :+1:. Should have been more clear.

[2017-12-10 06:30] sharkdp commented on #192
That seems like a good idea to me. @laerus do you think this would have helped in your case?

[2017-12-10 07:24] sharkdp commented on #194
Just released [v6.1.0](https://github.com/sharkdp/fd/releases/tag/v6.1.0). Debian packages are now also available

[2017-12-10 07:24] #194 closed

[2017-12-10 11:51] dtcyganok commented on #190
Most of the listed options are in `find`. The reason for which they are needed is the same for which they are needed in `find`.

For example
How can I find files in the home directory, which is not owned by me?
How can I find all executables in the home directory?
Etc.

Without them, I not see the opportunity to replace `find` with `fd`.

[2017-12-10 20:31] elcste opened #195 "Bash completion not working with deb package"
I installed the new Debian package (fd-musl_6.1.0_amd64.deb) on Ubuntu 17.10 and bash completion is not working.

I'm *definitely* no expert in this, but based on other files on my system, what I tried and seems to work was to move the `/usr/share/bash_completion/completions/fd/fd.bash-completion` file to `/usr/share/bash-completion/completions/fd`.

(It also used to work for me when I manually mo

[2017-12-10 20:58] flip111 opened #196 "Recommended way to sort results"
Before with `find` i could use the `printf` option https://unix.stackexchange.com/a/29901/196971

what the best way to solve this with fd ?

[2017-12-10 22:40] tmccombs commented on #195
Ah, yeah that's just a typo

On Dec 10, 2017 1:31 PM, "Alexander Browne" <notifications@github.com>
wrote:

[2017-12-11 12:34] laerus commented on #192
I see what i misunderstood there, i was trying to reproduce the following `find` behavior,
can i do this with `fd` without changing the directory?

[code]

i think an implied `-a` will make this more confusing

[2017-12-11 12:34] #192 closed

[2017-12-11 17:32] partounian commented on #191
So fd is slower than find when you are not using any pattern? Anyway to avoid that?

[2017-12-12 08:30] tmccombs commented on #192
@laerus you can get that with `fd . projectname`

[2017-12-13 00:57] alok opened #198 "Negating patterns: add --exclude-regex?"
I noticed `grep` has a `-L` flag to find filenames that don't contain the search pattern. What about the related operation of finding the complement of a pattern? Would a flag for that be useful, or is it there some simple way to specify it in the pattern regex?

[2017-12-13 01:59] erf opened #199 "Search multiple extensions"
Would it be an idea to add support for searching multiple extensions?

E.g. if i want to find both `.h` and `.c` files in a folder: `fd -e h -e c`

Or should i use regex patterns?

[2017-12-14 03:02] sharkdp commented on #198
Is there really a strong use case for this?

We already have the `--exclude <pattern>` option which lets you specify a glob pattern that should be excluded. While not exactly the same, I'm not sure if there is a need for an option that would invert the pattern.

Not really. Negative lookaheads can be abused for that but (a) that's not really practical and (b) I don't think they are supported by th

[2017-12-14 03:06] sharkdp commented on #196
What about using `xargs`?

[code]

[2017-12-14 04:07] sharkdp commented on #191
I might have an idea what's causing this.

@dtcyganok Could you please run your initial benchmark and add `--max-buffer-time 0` as an additional option?

[2017-12-14 04:25] sharkdp commented on #180
I think we should stay consistent with not only find but also ripgrep and other tools.

[2017-12-14 04:25] #180 closed

[2017-12-14 04:37] sharkdp commented on #179
No. fd simply tries to provide defaults that are useful for the general use case. It makes certain assumptions. One assumption is that hidden files (starting with a leading dot) are hidden for a good reason. This is why they are not displayed by default. Another assumption is that files that someone entered into a *ignore*-file are generally not interesting as search results either. This is why th

[2017-12-14 04:39] sharkdp commented on #199
Interesting idea. This could actually have a similar implementation as #177.

[2017-12-14 04:40] sharkdp commented on #189
Thank you for reporting this. Currently, autocompletion files are auto-generated. I'm not sure if this can be fixed by configuring `clap`. Any help would definitely be appreciated.

[2017-12-14 04:46] sharkdp commented on #174
Just for reference, thanks to @tmccombs help, we have `*.deb` packages for the v6.1.0 release (and every forthcoming release).

What would be logical next steps to make this even more convenient for Ubuntu users?

Set up a PPA?

As a long term goal, [get into the official repositories](https://askubuntu.com/questions/16446/how-to-get-my-software-into-ubuntu)? :smile:

In any case, I should add a n

[2017-12-14 04:47] #188 closed

[2017-12-14 20:16] gene-pavlovsky commented on #153
I'm a Cygwin user, and for example the reason I'm using `the_silver_searcher` instead of `ripgrep` is that there is not Cygwin build of the latter.

I just found out about `fd` and it sounds very neat, I'd love to be able to use it. In my case, I don't care for backslashes under any circumstances, so I'd like to have a Cygwin specific path option for `fd`. A note: prefix for Windows drives is `/cy

[2017-12-15 03:26] #195 closed

[2017-12-15 10:35] flip111 commented on #196
It works .. so i will close this issue. It would be nice to have a sorting flag that keeps coloring in the output. Or alternatively a flag to execute a command for all the results (`fd -X "ls -ltr" foo path`).

[2017-12-15 10:35] #196 closed

[2017-12-17 18:44] Doxterpepper opened #201 "ctrl-c when using colored output gives exit code 0 instead of 130"
When `fd` recieves `SIGINT` its exit code is 0 instead of the standard 130. Changing the exit code will fix it.

[2017-12-18 02:13] ChengCat commented on #179
IMHO, hiding files mentioned in `.gitignore` is only useful for developers. I understand open source software are often used by developers, but this is not always the case. For `.ignore` files, they could mean something else for a particular user.

This is about the design. Of course, even badly-designed things can be properly used by carefully reading manuals, but a good design can often save the

[2017-12-18 07:25] ChengCat commented on #179
I don't get why this is a no. You acknowledge that you made certain assumptions, and I am saying your assumptions are problematic.

The assumption that the files specified in `.gitignore` are not interesting, is probably only most valid when the user is a developer. `.fdignore` is also problematic, because unlike hidden files, the user very possibly isn't aware of this mechanism (e.g. installed vi

[2017-12-18 14:53] sharkdp commented on #201
Closed via #202

[2017-12-18 14:53] #201 closed

[2017-12-18 15:32] sharkdp commented on #179
What about the hidden files? Do you think that's a bad choice as well? In my point of view, it's the same kind of argumentation.

[2017-12-18 15:32] #179 closed

[2017-12-18 15:37] sharkdp commented on #153
Ok, it looks like a cygwin-specific build could be an option. I would like to avoid pulling in more dependencies (even optional), but if this can be configured using compile-time flags, it sounds like a good option to me.

I will likely not find the time to work on this, but if someone wants to contribute, I'm happy to assist / discuss.

[2017-12-18 16:57] gene-pavlovsky commented on #153
I think I could handle it (although I don't know Rust). What is the best channel for discussion?

[2017-12-19 16:09] sharkdp commented on #153
Great!

You could open a ("work-in-progress") pull request and we can discuss there or we can just use this ticket. Whatever you prefer.

[2017-12-19 20:50] tmccombs commented on #153
I'm a little surprised there isn't a x86_64-pc-windows-cygwin target for rustc.

[2017-12-20 02:28] zekesonxx opened #203 "Feature request: library option"
I'd really like to use fd's powerful finding in my Rust application, but it's only available as a binary.

I could call it as a subprocess, but that's really awkward and requires installing another binary and... having it as a library would be a lot simpler.

[2017-12-21 05:40] cyrossignol commented on #153
For what it's worth, I sometimes use something similar to the following in Cygwin/MSYS flavors as a workaround:

[code]

...defined in <i>.bashrc</i> or equivalent. It streams the output through `cygpath` to convert the paths to Unix-style.

Considering what `cygpath` does, it's pretty fast, but it would be nice if `fd` handled the conversion to reduce the overhead.

[2017-12-21 14:32] rajeshduggal commented on #153
fyi: ag shows the expected slash when run in cygwin too. https://github.com/ggreer/the_silver_searcher/search?utf8=%E2%9C%93&q=cygwin&type=

[2017-12-28 04:20] amosbird opened #204 "fd should ignore .git when --hidden is on"
`fd '' --hidden` searches files inside `.git/` without specifying `-I` or `--no-ignore-vcs`.

[2017-12-29 10:01] sharkdp commented on #204
Why do you think `.git` (a hidden folder) should not be searched in the case where `--hidden` (= search hidden files and directories) is activated?

The `-I`/`--no-ignore` and `--no-ignore-vcs` options only affect directories and files which are targeted by entries in various `.gitignore` files and `.git` is usually not explicitly ignored (and probably should not be).

[2017-12-29 10:10] amosbird commented on #204
OH, ok. I thought `--no-ignore-vcs` is like `git ls-files` which doesn't list `.git`

[2017-12-29 10:10] #204 closed

[2017-12-31 12:57] wsandin commented on #174
Would you be interested in a RPM, FreeBSD package or similar too?

[2017-12-31 13:01] sharkdp commented on #174
- On FreeBSD, *fd* can be installed via portmaster already (see README) - is there something else that is needed?
- An RPM package would be great!

[2018-01-01 11:09] #177 closed

[2018-01-01 11:09] #199 closed

[2018-01-01 11:27] sharkdp commented on #203
Thank you very much for your feedback!

To be honest, I'm not sure if this would currently be worth the effort.

What kind of functionality would you like to see from this library?

* If you need something to walk a directory tree recursively (with support for `.gitignore` files, etc.), you should take a look at the `ignore` crate which is used by *fd*.
* If you need pattern matching on file names

[2018-01-01 11:42] sharkdp commented on #189
It looks like this is related to https://github.com/kbknapp/clap-rs/issues/568

[2018-01-01 14:29] #174 closed

[2018-01-02 20:53] sharkdp opened #210 "Killing 'fd' during long-running search takes long"
If there are only very little search results and I press `Ctrl-C`, *fd* does not stop. The process only seems to exit when the next search result is found (and new output is generated).

This can be tested with
[code]

[2018-01-02 21:31] sharkdp commented on #168
I've added some basic instructions here:
https://github.com/sharkdp/fd#using-fd-with-fzf

I found out that fzf can even interpret ansi sequences, so we can do something like this:
[code]

and then (after `vim <Ctrl-T>`):
![image](https://user-images.githubusercontent.com/4209276/34500835-ac0ba9f4-f00c-11e7-9836-83cabe85a383.png)

[2018-01-02 21:31] #168 closed

[2018-01-03 03:50] Doxterpepper commented on #210
Yea this is kinda a big bug, if fd searches a large enough directory and only one item is to be found it will never exit via ctrl-c until it finds that one entry. That could be a really long time and may be a pretty common use case. To fix this we need to exit from the sender thread gracefully as well when we handle ctrl-c.

[2018-01-03 08:26] #210 closed

[2018-01-03 09:41] sharkdp commented on #191
This should be fixed now. Would be great if someone could confirm this.

[2018-01-03 10:08] iology commented on #191
That fix looks trickery. Is the buffer size the main issue of the slowness? Are you sure the buffering mode ends before the timeout is reached in most cases (with the default buffer time)?

[2018-01-03 10:23] sharkdp commented on #191
For the cases mentioned in this ticket -- yes. If there is no search pattern and there is a huge search tree it means that results will accumulate *fast* (100 ms is enough to gather ~ 100,000 entries). In my test case (no search pattern, ~ 130,000 results), adding the buffer size limitation speeds up the search by a factor of 10.

[2018-01-03 10:44] iology commented on #191
@sharkdp Hmm, I think `time::Instant::now()` is main cause. But now I also think it make sense to limit the buffer size, as it is much slower to print the result to the terminal.

[2018-01-03 10:46] sharkdp commented on #191
That could very well be the cause, thanks! Another potential cause could be the dynamic re-allocation for the buffer.

[2018-01-03 11:33] iology commented on #191
If 1000 is a good limit for buffer size for all cases, then `--max-buffer-time` can be deprecated. But I'm still uncertain about if it makes a nice change to the visual effect: You may get 1000 paths sorted, then the last 1000+ paths unordered. In my fork, I just throttle the time check by only checking it every 500 iterations.

[2018-01-03 11:39] iology commented on #191
And another potential cause: sorting

[2018-01-03 12:05] iology commented on #191
With regards to sort time, just checked that with my fork on 58894 entries (the OP's is 35809). With `--max-buffer-time=1000`, the result is `0.40 user` while `find` uses `0.04 user`.

[2018-01-03 12:15] sharkdp commented on #191
I don't think so. If there are less than 1000 search results, `--max-buffer-time` is still relevant. It ensures that we show results (almost) immediately on a long-running search.

[2018-01-03 12:28] iology commented on #191
Ah, my logic is in a tangle in the previous comment. Searching for 1000 results takes only ~20ms (less than 100ms) on my machine. Isn't the buffer time limit used for displaying sorted results when time allows?

[2018-01-03 12:49] sharkdp commented on #191
Correct. If the full search finishes faster than the `max-buffer-time` (t < T_max), the results are printed in order.

I think with the new mechanism (N_max = `MAX_BUFFER_LENGTH`) there are now four cases:

* fast search (t <= T_max), few search results (n <= N_max):

  As before, results will be printed in a sorted way almost immediately.

* fast search (t <= T_max), many search results (n > N_ma

[2018-01-03 12:59] iology commented on #191
Yeah, for fast search (~1000 results: < 20ms for gathering&sorting results, and < 300ms total run time), most of the time is spent on printing, not gathering. The buffer time is neglectable, I think.

[2018-01-04 18:37] sharkdp opened #213 "Wrong file owner for files in deb package"
Currently, the linter for Debian packages shows that the files are not created by root (but by the Travis user with uid 2000):
[code]

Unfortunately, the file owner problems lead to a bug where `zsh` will not parse the autocompletion file and print a warning:
[code]

I'm already working on a fix.

[2018-01-04 18:50] #213 closed

[2018-01-04 19:07] sharkdp commented on #213
The bug has been fixed for future releases.

I have also update the `fd_6.2.0_amd64.deb` package for the current release.

[2018-01-05 01:51] alaymari commented on #191
Tried the new version. Looks like there is no change.  The results:

[code]

[2018-01-05 21:57] sharkdp commented on #191
@alaymari Thank you for taking a look at this again.

A couple of comments:
- Please always run a "warm up" command (e.g. simply run `find` a few times) that fills the caches immediately before measuring any runtimes.
- Please average the runtimes over multiple runs (ideally, use a tool like [bench](https://github.com/Gabriel439/bench))
- Your execution times are very low and possibly even limited

[2018-01-06 03:39] alaymari commented on #191
OK. Here is what I did:
[code]
I will try later on a bigger set. Right now:
[code]

[2018-01-06 19:44] partounian commented on #191
I ran the bench tool in git [lfs] folder for a relatively big repo. It contains many 3d file assets. I can of course give some more generalized details upon request.

[code]

And another set done here with `--color never` for fd
[code]

[2018-01-06 20:22] sharkdp commented on #191
@alaymari Thanks!

This issue is really about running `fd` without a pattern, so let's focus on this case. It seems like `fd` is indeed slower in your benchmark (although you did not average over multiple runs for both `find` and `fd` without a pattern). Is there anything special about the directory you are running these tests from? Do you get the same results from both `find` and `fd`? These exec

[2018-01-06 22:17] partounian commented on #191
@sharkdp the last example is actually what you've asked for :)

[2018-01-06 22:28] sharkdp commented on #191
Oh, thanks! I missed that. Good to know that it works for you.

[2018-01-08 15:28] kbenzie commented on #213
This also affects [fd-musl_6.2.0_amd64](https://github.com/sharkdp/fd/releases/download/v6.2.0/fd-musl_6.2.0_amd64.deb), I think it also needs updated. I've not checked the others but it may also affect them.

[2018-01-08 16:05] althonos opened #214 "(Feature request) Support extensions with multiple suffixes"
Hi there,
currently, `fd` does not support extensions with multiple suffixes in them, like `tar.gz` and the like. Of course, one could simply run `fd tar.gz`, but unfortunately this will also find some other files (such as `*.tar.gz.sig`). The correct workaround would be `fd tar.gz\$`, which starts to get cumbersome !

I could probably have a look at the code myself, since I don't think this shoul

[2018-01-08 18:46] sharkdp commented on #214
I would have actually needed this just yesterday. Completely agreed, this would be nice to have.

I think it's not *completely* trivial to implement this because we currently extract the extension via
[`Path::extension`](https://doc.rust-lang.org/stable/std/path/struct.Path.html#method.extension) - which just extracts everything after the final `.` - and match that against the pattern. I guess we

[2018-01-08 18:47] sharkdp commented on #203
Closing this for now, until there is any feedback from @zekesonxx

[2018-01-08 18:47] #203 closed

[2018-01-08 19:45] sharkdp commented on #213
Yes, it will affect all deb packages (except the one I updated) - sorry for that. This should be fixed with the next release (and is easy to fix via `sudo chown -R root:root ...`)

[2018-01-08 19:48] sharkdp commented on #165
Just an idea, but I think it would be cool if we could parse relative timespans (as well as absolute date/times) and allow for things like:
[code]

Related: https://crates.io/crates/chrono-humanize

[2018-01-09 10:18] milianw opened #216 "Colorize matched substring like grep"
Thanks a lot for fd, it's a really neat utility!

I'd like to kindly ask for a small feature addition: Please colorize the matched substring similar to how grep does it. I.e. compare the following two:

[code]

Ideally, the colorization of the second command would also be used for the first command.

Thanks

[2018-01-09 12:02] sharkdp commented on #216
Thank you for the feedback!

Please see #46 and #53

[2018-01-09 12:11] milianw commented on #216
Too bad this was abandoned :'( I'll probably have to make myself a wrapper than that uses grep like above. Feel free to close this then if you don't want to implement this.

Cheers

[2018-01-09 14:02] sharkdp commented on #216
I'm happy to discuss this again, if there is an interest for this feature.

I don't think the `grep` wrapper will work as expected because

1. grep will have to deal with the ANSI codes coming from fd - which will cause problems if you want to match across differently-colored segments
2. ANSI colorings can not be nested. When grep adds additional reset-sequences after the match, it will close fd's

[2018-01-09 14:25] milianw commented on #216
The `grep` works for me. I mean sure, it loses the highlighting in parts of the path. But that's not as important to me as actually seeing the matched substring.

If this feature would be built-in to fd, it could close the previous ANSI code, highlight the substring, then reopen the previous ANSI code. I have zero knowledge of your code base, so I can't say how hard this is. Conceptually, I would

[2018-01-09 14:26] sharkdp commented on #216
That's what the prototype in #53 does.

[2018-01-09 14:29] milianw commented on #216
Then I hope you re-evaluate your decision to abandon that change ;-)

[2018-01-09 18:02] sharkdp opened #217 "Where is all the traffic coming from right now?"
I'm curious: Where is everyone coming from right now? :smile:

Insights/Traffic only shows me that there seems to be some traffic from within GitHub...

![image](https://user-images.githubusercontent.com/4209276/34736290-b8696b6c-f572-11e7-9bd7-4716102c62e2.png)

[2018-01-11 03:12] alaymari commented on #191
Sorry for the late reply. Would this help?

[code]

[2018-01-11 04:19] partounian commented on #191
@alaymari Could you please install [bench](https://github.com/Gabriel439/bench) and run [this script](https://gist.github.com/sharkdp/f2dda4ea0af1563a3dbdae4e14d9496a)?

[2018-01-11 14:23] alaymari commented on #191
Tried installing haskell-stack and got this error. I know the problem does not belong here, still am posting the error message. I am completely clueless about haskell :-(

[code]
So, I am stuck there trying to install bench. FWIW, I did this before as root:
[code]

[2018-01-11 16:52] partounian commented on #191
Sorry cannot help as I am spoiled by homebrew. Maybe linuxbrew could help you.

[2018-01-11 17:18] #217 closed

[2018-01-13 11:01] geniusupgrader opened #219 "Question: How to search in the results?"
If I do for example: `fd test`

the output should be:

[code]

Now, how do I search in these result further with `fd`?
For example I want search in this list for folder2: `fd folder2`

the end result should be:

`folder2/test.txt`

How do I do that?
I would like to use only `fd` for that.

[2018-01-13 11:35] sharkdp commented on #219
What exactly do you want to do?

  * Search for results in a particular subfolder?

[code]

  * Search the results for an arbitrary substring?

    If so, why don't you want to use a second tool for that?
[code]

    If you absolutely don't want to use a second tool, you could use the `-p`/`--full-path` option to search the full file path and use a regex that searches for both `folder2` and `test`

[2018-01-13 11:43] geniusupgrader commented on #219
Thanks @sharkdp the `--full-path` option gets me there.
And to pipe the results to grep (or ripgrep) should suffice, too.

[2018-01-13 11:43] #219 closed

[2018-01-14 01:53] seagreen opened #220 "Use `--hidden` by default."
Hidden files [were a mistake](https://plus.google.com/+RobPikeTheHuman/posts/R58WgWwN9jp) to start with and continue to be a misfeature. Most people searching for a filename won't care if it's hidden or not, and having to remember to add `--hidden` to almost every search isn't a good use of time, and leads to confusion when you forget to do so.

[2018-01-15 05:22] gbaz commented on #191
if you upgrade your stack  version to the latest, you can use the latest resolver.

[2018-01-15 14:18] bagage opened #221 "Misleading error when typing -exec"
I'm so much used to `find` syntax, and so when replacing it with `fd` (which is awesome), I continued to type `-exec` instead of the expected `--exec` (or `-x`).
But it's only now after few minutes of investigation that I found the reason, the error message being, in my opinion, misleading/unhelpful:

[code]

I know that `-exec` is thus interpreted as `-e=xec` or, more clearly, `--extension xec` w

[2018-01-15 18:26] sharkdp commented on #220
Please see #18 and #179 for related discussions.

I care about it when my pattern is very broad - or even non-existent. I frequently use `fd` without any argument to get an overview of a directory.

Also, I mostly don't care about search results in hidden folders (e.g. `.git` folders) or concerning hidden files. Looking through my home directory, I see files like: `.i3pystatus-13213`, `.goutputstr

[2018-01-15 18:38] sharkdp commented on #221
Thank you for the feedback!

I guess we could try to detect that, yes -- but what about the poor people that want to search for `.xec` files? :smile:

[2018-01-15 18:45] sharkdp commented on #191
If you still want to run the benchmark, you can also use my new tool [hyperfine](https://github.com/sharkdp/hyperfine) (in case that is easier to install). It features a `--warmup` option:
[code]

[2018-01-15 18:45] #191 closed

[2018-01-15 18:51] sharkdp commented on #221
I'm not sure we can distinguish `-e xec` from `-exec` (since we use `clap` to parse command line arguments, and it probably doesn't make that transparent). So we would have to check for that before running `clap`...... or we simply ignore the minuscule probability that someone wants to search for `.xec` files :smile:

Let's implement this.

[2018-01-15 19:19] notramo opened #222 "Support for EXA_COLORS"
[`exa`](https://the.exa.website/) is a user-friendly alternative to `ls` and `tree`. (Similarly as `fd` → `find`, `rg` →`grep`)
The `EXA_COLORS` variable functions as the `LS_COLORS` variable, but contains additional coloring rules, such as coloring by
- permissions
- owner
- git modification status

See the `ENVIRONMENT_VARIABLES` section of the `exa` man page.

As `fd` has some of the features o

[2018-01-15 19:21] notramo commented on #220
Do you mean configuring with environment variables?
For example, take a look at the `ENVIRONMENT VARIABLES` section in the [`exa`](https://github.com/ogham/exa) man page.
By the way, I think, `fd` should support some code from the `EXA_COLORS` variable: #222

[2018-01-15 19:52] sharkdp commented on #220
I meant `***_DEFAULT_OPTS` environment variable, in particular. I was wondering if this was standard practice - haven't seen this before. Doesn't seem like it.

[2018-01-15 19:59] seagreen commented on #220
I would be totally fine with ignoring the `.git` directory when `--no-ignore` is not set, that seems consistent to me.

I completely agree with this, and the way programs spray around files like that is a huge problem. I also don't like false positives where junk files get returned in a search.

Unfortunately false negatives are worse. When I'm searching for a file that matches a specific pattern

[2018-01-15 21:34] tmccombs commented on #220
less has the LESS environment variable
grep has the GREP_OPTIONS environment variable

[2018-01-19 11:44] matrixik commented on #174
Snaps are build automatically
https://docs.snapcraft.io/build-snaps/ci-integration
`ripgrep` config for it: https://github.com/BurntSushi/ripgrep/blob/master/snapcraft.yaml

[2018-01-23 18:05] corbinu opened #224 "Exit early from exec"
First of all love fd is an amazing project!

I was using it recently to exec a sed command and made a mistake. Noticed that `Ctrl+C` to exit early wasn't working

[2018-01-23 20:33] sharkdp commented on #224
Thank you very much for the feedback!

Indeed, that looks like a problem.

One way to reproduce this:
[code]

[2018-01-24 16:02] sharkdp commented on #36
I'm going to close this, as we have this now: https://github.com/sharkdp/fd-benchmarks

[2018-01-24 16:02] #36 closed

[2018-01-24 16:09] sharkdp commented on #159
I'm going to close this (for now), as:

- There is no clear path on how to implement this without a substantial decrease in performance (concerning the availability of the first results, not the overall runtime)
- There are several workarounds that work just fine.

If somebody feels that I'm mistaking, please tell me and we can reopen this ticket.

[2018-01-24 16:09] #159 closed

[2018-01-24 16:17] sharkdp commented on #222
Thank you very much for your feedback.

I haven't completely thought this through, but I think I'm against this. My guess is that this would come at the cost of performance (additional file attributes have to be read, Git status needs to be queried).

Also, if you really wanted, you could already do something like this (obviously, you would create an alias):
[code]

[2018-01-24 18:50] Doxterpepper commented on #224
Sorry @sharkdp, looks like this is the fault of the ctrl-c handler agian 🙃 . The ctrl-c handler I added months ago didn't account for exiting from exec. For some reason I thought colored output would not be enabled when the exec flag was given. I'll have a PR for this in a few.

[2018-01-24 19:29] sharkdp commented on #224
Nothing to excuse for - thank you very much for finding the bug and fixing it so fast!

[2018-01-26 12:31] notramo commented on #222
Running `exa` for each result wouldn't be a huge performance loss?

[2018-01-28 08:16] Dietr1ch opened #227 "How to skip network and obscure filesystems?"
I wanted to list files from / with `fd 'flac$' /` and it retrieves files from network mounts, and things from /proc.

Can those be skipped?
I think that if it's desired to go through those filesystems it should be under some non-default flag, it's a sensible default like using `.gitignore` to prune the search space.

[2018-01-28 18:02] sharkdp commented on #224
Closed via #225

[2018-01-28 18:02] #224 closed

[2018-01-28 21:12] sharkdp commented on #227
Thank you for your feedback.

See #74 for a related discussion (unfortunately, the code is gone). Instead of `--mount`, we ended up implementing `--exclude`. I'm open to discuss `--mount` again, but in the meantime, you can use:

[code]

Unrelated: You can/should use `--extension`/`-e` to properly search for `.flac` files:
[code]

[2018-01-28 21:59] Doxterpepper commented on #221
The problem seems to be that a space is not required between a short arg and the short args value. Clap then doesn't know the difference between -exec as a argument and -e[Value]. I think we could add a validator method to the extension argument to check if there is a space between -e and the value and throw an error appropriately if not.

[2018-01-28 23:04] bagage commented on #221
@Doxterpepper I don't think that's a solution -- this is the standard way of handling arguments and `-e value` should behave exactly as `-evalue`.
At least I suppose that's what people expect to have so I would not break that rule; particularly since this is required only for a very specific use case of `-exec` value.
If it's impossible to warn user in this single case of `-exec (did you mean --ex

[2018-01-28 23:12] Doxterpepper commented on #221
@bagage, I'm pretty sure command line arguments are not necessarily standardized. In some cases -e [Value] with a space will behave exactly like -e[Value] without a space but not always. In the case of clap it considers these to be the same but outside of this one library it would not always behave that way. For example if you use GNU grep `grep -G'.*'` gives an error and grep -G '.*' does not.

S

[2018-01-28 23:50] Dietr1ch commented on #227
Oh, maybe I should've been clearer, I'm not really looking for flac files, but working on a plugin to interactively search for files/directories to edit/cd into.

Probably looking at `mount`'s output is the best general workaround for now. I just wanted to check that there was no single flag solution on `fd`'s side before digging into that.

Maybe it makes sense to have a flag that sets the exclud

[2018-01-29 07:56] sharkdp commented on #221
@Doxterpepper I actually think allowing `-e[Value]` is quite standard. I tend to use it a lot (e.g. `fd -tf`, `fd -d1`). GNU grep also supports this style, e.g. `grep -C3`. `-G` is a flag and not an option that takes a value. That's probably why it doesn't work in your example.

[2018-01-29 15:19] Doxterpepper commented on #221
@sharkdp, It doesn't seem to matter because we can't do what I'd like using clap. #226 is a valid solution, I was just trying to find something simpler.

[2018-01-29 19:33] sharkdp commented on #221
Closed via #226.

[2018-01-29 19:33] #221 closed

[2018-01-29 21:06] BurntSushi commented on #156
Thanks to @ptzz's hard work, https://github.com/BurntSushi/ripgrep/pull/706 got merged which will be in the next release of `ignore`!

[2018-02-05 09:03] rleungx opened #230 "Print usage like find"
For now, fd without any args will recursively find all files in the current path.
Is it better to print usage instead?

[2018-02-10 13:14] sharkdp commented on #230
Thank you very much for the feedback.

I find the default behavior very useful to get an overview of all files in a certain directory (similar to `tree`) while ignoring all hidden and VCS-ignored files. Actually, GNU find does the same thing (without ignoring hidden/VCS files).

Program usage can be displayed via `fd -h` (basic), `fd --help` (extended) or via the man page (`man fd`).

[2018-02-10 13:14] #230 closed

[2018-02-10 13:26] sharkdp commented on #214
Closed via #215.

[2018-02-10 13:26] #214 closed

[2018-02-10 13:30] sharkdp commented on #220
I'm going to close this, as I still think it's straightforward to define
[code]
if someone wants to see hidden files by default (but ignore `.git` folders, for example).

I'm not too excited about using environment variables as I would like `fd` to be a tool that can potentially be used in scripts where the default behavior should not be influenced by environment variables.

[2018-02-10 13:30] #220 closed

[2018-02-10 14:55] #157 closed

[2018-02-10 14:56] sharkdp commented on #227
Closing this for now.

[2018-02-10 14:56] #227 closed

[2018-02-10 15:02] sharkdp commented on #156
@BurntSushi Thank you for the update. Looking forward to the next `ignore` release.

@ptzz Great work!

[2018-02-10 17:25] sharkdp commented on #157
Fix released in v6.3.0

[2018-02-10 17:25] sharkdp commented on #221
Fix released in v6.3.0

[2018-02-10 17:25] sharkdp commented on #224
Fix released in v6.3.0

[2018-02-10 17:25] sharkdp commented on #213
Fix released in v6.3.0

[2018-02-10 17:45] corbinu commented on #224
Thanks folks :)

[2018-02-12 21:20] sharkdp opened #234 "Suggest --fixed-strings on invalid regexps"
Inspired by https://github.com/BurntSushi/ripgrep/issues/709

[2018-02-12 21:41] sharkdp opened #235 "Detect when user supplied path instead of pattern"
From time to time it happens to me that I forget to supply a regex-pattern when using an explicit search path. In particular, this happens when I use `--extension EXT`/`-e EXT` because it feels like `EXT` is a pattern by itself:
[code]

The right way would be to use `fd -e jpg . /share/pictures` or `fd -e jpg "" /share/pictures`.

Instead, what the command above will try to do is to search for fil

[2018-02-13 22:18] sharkdp commented on #156
ignore-0.4.0 has been released (thanks!), but it's currently not possible to implement this due to https://github.com/BurntSushi/ripgrep/issues/800

[2018-02-15 02:15] dan-santana opened #237 "--hidden + .ignore showing ignored files inside hidden directories"
This bug is similar to https://github.com/BurntSushi/ripgrep/issues/807: `fd --hidden '' .` is showing an  ignored file inside a hidden directory. The following script can reproduce the issue:

[code]

The output will be:
[code]

The expected output is:

[code]

**As noted in the ripgrep issue, it happens only with `fd --hidden '' .`, but not with `fd --hidden '' ./`.**

[2018-02-15 07:09] sharkdp commented on #237
Thank you for reporting this. I'll keep this open to track the upstream issue.

[2018-02-18 06:58] PramodBisht commented on #234
@sharkdp Can I take this one?

[2018-02-18 08:39] sharkdp commented on #234
Sure! Let me know if you need any help.

[2018-02-19 20:17] #234 closed

[2018-02-20 17:51] kbd opened #240 "--type=symlink: Inconsistency between command line options and man page"
The [code](https://github.com/sharkdp/fd/blob/814d37030e2d27ed75d6598c9d6ec00d427f196d/src/app.rs#L83) and [help docs](https://github.com/sharkdp/fd/blob/814d37030e2d27ed75d6598c9d6ec00d427f196d/src/app.rs#L189) have `--type=l` mean symlinks, but the [man page lists the short flag as 's' instead of 'l'](https://github.com/sharkdp/fd/blob/master/doc/fd.1#L85).

Also, I didn't see it documented anyw

[2018-02-20 20:49] sharkdp commented on #240
Thank you for the report! The man page looks outdated, yes.

That is not quite correct. The default is to not filter by file-type at all. Symlinks should be displayed as search results. However, note that symlinks are not *followed* by default.

So if you have this:
[code]

You should see both symlinks:
[code]

However, to see the nested file inside `symlink_to_directory`, you would have to add `-

[2018-02-20 22:54] kbd commented on #240
My mistake! Apologies, and thanks for the correction.

[2018-02-21 21:03] kbknapp opened #242 "Negate extensions"
It would be awesome if we could specify `-e !jpg` which would do all files that are *not* a jpg. Similar to ripgrep's `--glob` option.

[2018-02-21 21:07] sharkdp commented on #242
Thank you for the feedback!

You can use the `--exclude`/`-E` option (which is like the opposite of ripgrep's `--glob`):
[code]

[2018-02-21 21:08] kbknapp commented on #242
Totally missed that :man_facepalming:

Thanks!

[2018-02-21 21:08] #242 closed

[2018-02-21 21:56] sharkdp commented on #237
Closed by updating to ignore-0.4.1 in 8805bd32e284e6e6d0d37f0041a002a1d90adcbf

[code]

[2018-02-21 21:56] #237 closed

[2018-02-21 21:58] sharkdp commented on #240
Fixed.

[2018-02-21 21:58] #240 closed

[2018-02-21 21:59] sharkdp commented on #156
Added support for `.fdignore` via #241.

[2018-02-21 22:26] sharkdp opened #243 "Add Fedora install instructions"
It would be great if we could add install instructions for Fedora to the README. @ignatenkobrain If I understand correctly, you are packaging `fd` for Fedora (thank you!). Could you help me with the commands that a Fedora user would have to execute to install `fd`?

Ref: https://src.fedoraproject.org/rpms/rust-fd-find

[2018-02-22 02:44] dan-santana opened #244 "Binary release for ARM (Raspberry Pi)"
It would be nice to have an ARM build, so we can use it on devices like Raspberry Pi.

[2018-02-22 06:13] ignatenkobrain commented on #243
@sharkdp `$ sudo dnf install fd-find`, but unfortunately it's available only in F28+. If you feel that I should backport it to F27, I can spend some evenings ;)

[2018-02-22 07:13] sharkdp commented on #243
I see - in this case, we'll just wait until F28 is officially released. I definitely wouldn't want you to spend even more time to backport it. Thank you very much!

[2018-02-22 07:13] #243 closed

[2018-02-22 07:25] sharkdp commented on #244
Sounds great. I don't have a ARM system at hand, so any help would be appreciated.

[2018-02-23 17:02] sharkdp commented on #244
I actually do have a ARM system at hand...

Here is `fd` on my [rooted](https://github.com/dgiese/dustcloud) Xiaomi Mi vacuum cleaner :smile:

![image](https://user-images.githubusercontent.com/4209276/36606251-762b65b0-18c3-11e8-8b7c-b00ea590d4cd.png)

[2018-02-23 17:10] sharkdp commented on #244
If someone wants to try it out, the ARMv7 (>= Raspberry Pi 2) binary is here: https://shark.fish/share/fd

[2018-02-24 11:00] sharkdp opened #246 "Add 'executable' file type"
Add a new `executable`/`x` filetype for `--type`/`-t` filtering that only shows files with the executable bit.

For Windows, we could either disable this feature completely or search for files with `exe`/`bat`/`com`/`cmd`/`msi`.. file extensions.

[2018-02-24 11:02] sharkdp commented on #246
Note: we already have an `is_executable` function in `output.rs` which could be re-used for this. Currently, it always returns `false` on Windows.

[2018-02-25 19:20] sharkdp commented on #127
@lukenels This is now supported via `--fixed-strings`/`-F`.

[2018-02-25 19:27] sharkdp commented on #235
In addition, we could also suggest `--full-path`/`-p` if somebody really wants to search for a part of a path.

[2018-02-25 22:37] sharkdp opened #250 "Files with invalid utf8 filenames displayed when '--extension' is used"
[code]

[2018-02-26 23:30] lukenels commented on #127
Thanks @sharkdp !

[2018-02-28 17:48] PramodBisht commented on #246
@sharkdp I want to pick this up if nobody is working on that.

[2018-02-28 19:20] sharkdp commented on #246
@PramodBisht Sounds great!

[2018-03-07 08:55] DrLittleBin opened #252 "[solved] fd is unable to locate the file named ... without others with three dots in the filename"
$ touch ... ...0
$ ls -a
.  ..  ...  ...0
$ find -name ...
./...
$ fd -FH ...
...
...0
$

[2018-03-07 17:14] sharkdp commented on #252
Which shell are you using? Note that some shells treat the unescaped `...` as an alias for `../..`. zsh does this, for example:
[code]
This, in turn, leads `fd -F` to search for the string literal `../..` - which will not be found.

The following works for me in both zsh and bash:
[code]

This looks perfectly fine for me?

[2018-03-07 19:28] DrLittleBin commented on #252
I use bash.
The issue is that you cannot locate ONLY the file ... without getting other files with three dots in their filenames in the output of fd.

If you have _thousands and thousands of files with three dots in the filenames_, how do you find the file with the filename ... using fd? The output will be very long.

If you use find like this:

$ find -name ...
./...
$

it locates exactly what yo

[2018-03-07 19:38] DrLittleBin commented on #252
In other words, if you have files bb, abbc, aabbcc, you can locate the file bb by using regex ^bb$ like this:

$ ls
aabbcc  abbc  bb
$ fd bb
aabbcc
abbc
bb
$ fd ^bb$
bb
$

But you _cannot_ do like this with the file named ... because in this case you have to use the option -F which does not let you use regexes.

[2018-03-07 19:41] sharkdp commented on #252
You can still use a regex, you just have to escape the dots:

[code]
or
[code]

Another option is to use a character class `[…]` with just a single entry:
[code]

[2018-03-07 19:44] DrLittleBin commented on #252
Oh, that’s really great! Thank you for your support.
———————————————————————
SOLVED!

[2018-03-07 22:24] BrainMaestro opened #253 "Verbose flag to delete found matches"
Hi @sharkdp. Thanks for the awesome project.

Some common uses of `find` is to delete files that match the pattern. This is so common that `find` has a `-delete` flag. I know it can be accomplished with `--exec rm {} \+`, but it would be nice to save some keystrokes. What do you think? I wouldn't mind trying to implement it if you point me in the right direction. I'm not yet very familiar with Rus

[2018-03-08 10:57] BrainMaestro commented on #253
Oh. I forgot about the `-x` and it's nice that {} can be skipped.

`+` basically makes exec behave like xargs.
man page

    This variant of the -exec action runs the specified command on the selected files, but the command line is built by appending each selected file name at the end; the total number of invocations of the command will be much less than the number of matched files. The command li

[2018-03-09 12:25] PramodBisht commented on #246
@sharkdp in https://github.com/PramodBisht/fd/commit/8f796e3b9a735dd75611fb587f60dd4c99c0419f commit I have added changeset to show only `executable`, but its not working. Could you give me some pointer what I am doing wrong.

[2018-03-11 22:15] jedahan commented on #153
Is there an appropriate working group we could share this issue with?

[2018-03-11 22:17] tmccombs commented on #153
the CLI working group seems appropriate.

[2018-03-12 14:02] Xixiao007 opened #256 "Search without hidden folder but include specific ones?"
Hi all,

This is a question rather than issue.
I perceive that `fd` accepts `-H` to search through all hidden files/folders. But my scenario is different:
I want to search in `$home` directory, excluding all hidden files/folders except one specific hidden folder and its sub folder/files.
A command like this `fd  --include-recursive one-hidden-folder $HOME`
Is this viable? I had a look at `man fd`,

[2018-03-12 14:31] #253 closed

[2018-03-12 16:35] sharkdp commented on #246
These changes look good to me. How did you test this? Which OS are you on?

[2018-03-12 16:44] sharkdp commented on #253
Oh right, that was a `find` feature, not a `rm`-argument. Note that `fd` runs commands in parallel, so there is probably a little less need for that feature.

[2018-03-12 16:47] gene-pavlovsky commented on #153
Not a rust dev but interested in the topic.
What about different styles of pathnames support?
E.g. UNIX, Windows, different styles of UNIX-on-Windows (e.g. WSL, Cygwin, Git bash)

[2018-03-12 19:42] deivid-rodriguez opened #257 "Negation inside character range"
Hi! `fd` is awesome, a friendlier alternative to `find` was definitely needed, thanks for that!

I'm trying to find all files named exactly `component.rb`, but I can't seem to find the right command.

[code]

But doing

[code]

returns nothing.

However, the negation seems to do some ignoring, but maybe too much...

[code]

Is this a bug or I'm misusing the tool somehow?

I'm on version 6.3.0.

Th

[2018-03-12 19:45] deivid-rodriguez commented on #257
Ok, it was simpler than that...

[code]

The beginning of the file was not being considered in the exclusion, as it should be.

Sorry for the false positive.

[2018-03-12 19:45] #257 closed

[2018-03-12 20:00] sharkdp commented on #257
Thank you for the feedback!

Be aware that your shell might interpret some of the special characters (in your case, the `[^_]` part is probably interpreted as a part of a shell glob. If in doubt, always escape the pattern with single quotes:
[code]

Another thing to be aware of is the special meaning of `.` in regular expressions ("any character"). To search for files that are named `component.rb`

[2018-03-12 20:06] deivid-rodriguez commented on #257
Thanks!

Yeah, I was aware about "." being interpreted as a wildcard but I usually ignore that on file extensions since false postives there are terribly weird.

Regarding `[^_]` , I think `fd` was correctly interpreting it, but since I'm telling it to match a character at the begining of the file that it's not `_`, it was ignoring files named `component.rb` since, well, they don't have any charac

[2018-03-12 20:33] sharkdp commented on #257
.. I do the same :smile:

Yes, right.

This is bash:
[code]

[2018-03-12 20:45] deivid-rodriguez commented on #257
Indeed, you're right! :+1:

[2018-03-12 21:05] sharkdp commented on #256
Thank you very much for your feedback.

If you *only* want to search that specific hidden folder, you can simply say:
[code]

If you want to search both your home folder and a specific hidden folder, you can specify multiple search paths:
[code]

Does this work for you?

[2018-03-12 21:37] #252 closed

[2018-03-13 07:59] Xixiao007 commented on #256
Hi @sharkdp , thanks for replying!

It seems not resolving exactly.

With your solution, `fd` indexes `special-hidden-folder`, yet without hidden sub files/folders.

I'd like both normal and hidden files/folders are recursively searchable inside the `path/to/.special-hidden-folder`.

[2018-03-13 18:42] sharkdp commented on #246
I just got a closer look. There is indeed a logical error in that code. Let's take a look at these lines in `walk.rs`:
[code]

The way this works is that certain filesystem entries are *skipped* if one (or more) of the statements like `entry_type.is_file() && !file_types.files` are fulfilled.

If you specify `--type executable` (and no other `--type` arguments), then currently `file_types.executab

[2018-03-13 21:59] sharkdp commented on #156
We now have:
* `--exclude`/`-E` to exclude specific glob patterns.
* Support for `.fdignore` files.
* `--no-ignore-vcs` to show `.gitignore`d files (but not the `.fdignore`d ones).

All this [has been documented](https://github.com/sharkdp/fd#excluding-specific-files-or-directories) and we have integration tests.

I currently don't see any need for the additional `--ignore-file` flag, but if someo

[2018-03-15 06:53] #235 closed

[2018-03-15 19:36] sharkdp opened #260 "If --type is used, fifos/sockets/etc. are always shown"
A socket:
[code]

Actual output:
[code]

Expected output:
[code]

[2018-03-15 20:58] sharkdp opened #262 "Add install instructions for Chocolatey"
I just saw that there is a Chocolatey package for fd: https://chocolatey.org/packages/fd :fireworks:

We should add a small paragraph in the README on how to install fd via `choco`.

/CC @joachimschmidt557 - Thanks!

[2018-03-16 02:32] joachimschmidt557 commented on #262
I'm working on it

[2018-03-16 05:11] #262 closed

[2018-03-18 10:48] franco opened #264 "should --exclude allow for negating pattern?"
I'm new to `fd` and maybe I am overlooking something. From my understanding `--exclude` should take precedence over patterns defined in `.gitignore`. Can I somehow "unignore" a pattern from the command line which was ignored in`.gitignore`? `.gitignore` allows a pattern to be negated by prefixing it with "!". I think `--exclude` should behave the same. Btw the following works (I assume because `.i

[2018-03-18 18:38] sharkdp commented on #264
Yes, that would be nice!

I tried to implement this a few days ago because I was looking for the same feature, but it's not straightforward because I'm afraid we cannot use the `Override` method of the `ignore` crate.

As you also found out, using `.ignore` files (or `.fdignore` files, starting with the next release) is a possible workaround.

[2018-03-20 04:08] ptzz commented on #156
@sharkdp I have a similar setup. With support for `--ignore-file`, `fd` could be used instead of `rg`.

I.e. by default I want `fd` to find any file type, but it would be useful with a simple way to have it return only textual files.

[2018-03-20 12:23] kenan-rhoton opened #265 "Executing vim with fd causes freeze"
Terminal hangs with a simple search and execute:

`fd .clj src/ -x vim {}`

Which works perfectly with **find**:

`find src/ -name '*.clj' -exec vim {} +`

However, other commands (like `cat`) work correctly with `fd`, any ideas?

[2018-03-20 18:59] sharkdp commented on #265
This is due to the parallel execution strategy of fd. `fd -x cmd` runs `cmd` for all search results in parallel and waits for each command to finish completely until the output is printed to the console. This does not work for interactive commands like `vim` because they will not finish without user input.

@mmstick Do you see any way we could make this work? Without introducing additional flags?

[2018-03-20 20:44] sharkdp commented on #156
@ptzz I see. That's a valid use case... a `.fdignore` file would always be present.

I'm reopening this to track the addition of `--ignore-file`.

[2018-03-22 06:13] 4goodapp opened #266 "Integration with Ranger"
Can fd be used as an ranger search/filter?

[2018-03-22 06:16] sharkdp commented on #266
Could you please elaborate? What is Ranger?

[2018-03-22 06:22] 4goodapp commented on #266
It's an CLI based file manager: https://github.com/ranger/ranger
I just find fd, try it and was blown away by its  speed. So the first thing that pop up on m mind is an integration with ranger

[2018-03-22 06:54] sharkdp commented on #266
Unfortunately, I'm not familiar with ranger (and its internals). Maybe it would be better to open a ticket for ranger?

If there is anything we can do here, let us know.